<!doctype html>
<html lang="<% I18n.locale %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "Middleman" %></title>
    <meta name="description" content="<%= t(:metaDescription) %>" />
    <meta name="keywords" content="<%= t(:metaKeywords) %>" />
    <%= javascript_include_tag :modernizr %>
    <%= stylesheet_link_tag :main %>
  </head>

  <body class="<%= page_classes %>">
    <%= evil_icons_sprite %>
    <%= yield %>
    
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :all %>
  </body>
</html>