<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "Middleman" %></title>
    <meta name="description" content="<%= t(:metaDescription) %>" />
    <meta name="keywords" content="<%= t(:metaKeywords) %>" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= stylesheet_link_tag :main %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <%= javascript_include_tag :modernizr %>
  </head>

  <body class="<%= page_classes %>">
    <%= evil_icons_sprite %>
    <%= yield %>

    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :jqueryUi %>
    <%= javascript_include_tag :scrollspy %>
    <%= javascript_include_tag :all %>
    <script>(function (){var url = window.location; var oImg = document.createElement("img");oImg.setAttribute('src','https://app.hatchbuck.com/TrackWebPage?ACID=3526&URL=' + url);})();  </script>
    <script>(function(){window.webtracking_cookies_banner_required = "yes"; window.webtracking_cookies_banner_own_process = "no"; window.webtracking_cookies_banner_position = "bottom"; window.webtracking_cookies_banner_style = "light"; window.webtracking_cookies_banner_domain = 'https://app.hatchbuck.com/'; window.webtracking_cookies_banner_hash = '4141';})();</script> <script src='https://cdn.hatchbuck.com/webPageTrackingAgreement.min.js'></script>
  <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.appuio.ch"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.puzzle.ch/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.puzzle.ch/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
