<footer class="footer-container home-footer" role="contentinfo">
  <div class="home-footer-partner">
    <ul class="partner-list">
      <li class="partner-item">
        <a href="https://www.puzzle.ch/" target="_blank" class="partner-link">
          <%= image_tag "puzzle_logo.svg", :alt => 'Puzzle ITC - Changing IT for the better', :class => 'partner-logo' %>
        </a>
      </li>
      <li class="partner-item">
        <a href="https://vshn.ch/" target="_blank" class="partner-link">
          <%= image_tag "vshn_logo.svg", :alt => 'VSHN AG - The DevOps Company', :class => 'partner-logo' %>
        </a>
      </li>
    </ul>
  </div>
  <div class="home-footer-copy grid-container">
    <div class="home-footer-tel"><%= t(:footerTel) %></div>
    <div class="home-footer-twitter">
      <a href="https://twitter.com/AppuIo" target="_blank"><%= evil_icon 'ei-sc-twitter', size: :m %> Follow us @appuio</a>
    </div>
    <div class="home-footer-wac">
      Designed with <%= evil_icon 'ei-heart' %> by <a href="http://www.wearecube.ch/">We Are Cube.<sup>3</sup></a>
    </div>
    <div class="home-footer-wac">
      <a href="./impressum-datenschutz.html"><%= t(:footerImpressumDataPrivacy) %></a>
    </div>
  </div>
</footer>
