<section class="home-contact">
  <div class="grid-container">
    <h2 class="home-contact-title"><%= t(:homeContactTitle) %></h2>
    <p class="home-contact-desc"><%= t(:homeContactDesc) %></p>
    <form id="contact-form" class="home-contact-container">
      <div class="home-contact-interest interest-container">
        <h3 class="interest-title"><%= t(:homeContactSubject) %></h3>
        <div class="interest-item">
          <input id="interest-cluster" value="<%= t(:homeContactSubjectOne) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-cluster"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectOne) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-beta" value="<%= t(:homeContactSubjectTwo) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-beta"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectTwo) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-paas" value="<%= t(:homeContactSubjectThree) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-paas"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectThree) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-newsletter" value="<%= t(:homeContactSubjectFive) %>" type="checkbox" name="interests[]" class="interest-checkbox" >
          <label for="interest-newsletter"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFive) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-info" value="<%= t(:homeContactSubjectFour) %>" type="checkbox" name="interests[]" class="interest-checkbox" checked>
          <label for="interest-info"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFour) %></label>
        </div>
      </div>
      <div class="home-contact-form">
        <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
        <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
        <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
        <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
      </div>
      <label class="home-contact-button button-progress">
        <input type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
      </label>
    </form>
  </div>
</section>
