<a href="https://www.appuio.ch" class="header-logo"><img src="/images/appuio_logo.svg" alt="APPUiO Logo" /></a>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<nav id="nav-header" class="header-nav nav-header" role="navigation">
  <a href="#" id="expandSidenav" class="nav-toggle-menu"><%= evil_icon 'ei-navicon' %></a>

  <div class="nav nav-main is-horizontal">
    <!-- offers dropdown -->
    <div class="dropdown nav-element <%= parent_active('managed-private.html', 'public.html', 'unmanaged.html') %>">
      <button class="dropbtn dropbtn-offerings nav-button" id="navOfferingDropdown">
        <%= t(:navOffers) %>
        <i class="material-icons">arrow_drop_down</i>
      </button>
      <div class="dropdown-content dropdown-content-offerings" id="offeringDropdown">
        <a href="./public.html" class="nav-element-route <%= nav_active('public.html') %>"><%= t(:navOffer2) %></a>
        <a href="./managed-private.html" class="nav-element-route <%= nav_active('managed-private.html') %>"><%= t(:navOffer1) %></a>
        <a href="./unmanaged.html" class="nav-element-route <%= nav_active('unmanaged.html') %>"><%= t(:navOffer3) %></a>
        <a href="./faq.html" class="nav-element-route <%= nav_active('faq.html') %>"><%= t(:navGlobalFAQ) %></a>
      </div>
    </div>

    <!-- community -->
    <div class="dropdown nav-element <%= nav_active('blog.html') %>">
      <button class="dropbtn dropbtn-community nav-button" id="navCommunityDropdown">
        Community
        <i class="material-icons">arrow_drop_down</i>
      </button>
      <div class="dropdown-content dropdown-content-community" id="communityDropdown">
        <a class="nav-element-route" target="_blank" href="http://docs.appuio.ch"><%= t(:navGlobalDocs) %></a>
        <a class="nav-element-route" target="_blank" href="https://community.appuio.ch"><%= t(:navGlobalCommunityChat) %></a>
        <a href="./blog.html" class="nav-element-route <%= nav_active('blog.html') %>"><%= t(:navGlobalBlog) %></a>
      </div>
    </div>

    <!-- techlabs -->
    <div class="dropdown nav-element <%= nav_active('techlab.html') %>">
      <button class="dropbtn dropbtn-techlabs nav-button" id="navTechlabsDropdown">
        <%= t(:navTechlabs) %>
        <i class="material-icons">arrow_drop_down</i>
      </button>
      <div class="dropdown-content dropdown-content-techlabs" id="techlabsDropdown">
        <a href="./ostechlab.html" class="nav-element-route <%= nav_active('ostechlab.html') %>"><%= t(:navOstechlab) %></a>
        <a href="./ammtechlab.html" class="nav-element-route <%= nav_active('ammtechlab.html') %>"><%= t(:navAmmtechlab) %></a>
      </div>
    </div>

    <div class="dropdown nav-element <%= nav_active('team.html') %>">
      <button class="dropbtn nav-button" onclick="window.location.href = 'team.html';"><%= t(:team) %></button>
    </div>

    <div class="dropdown nav-element">
      <button class="dropbtn nav-button <%= nav_active('index.html') %>" onclick="window.location.href = './#contact';"><%= t(:navContact) %></button>
    </div>
  </div>

  <ul class="nav-lang">
    <% if (I18n.locale == :de) %>
      <li class="is-current"><a href="#">DE</a>
        <ul>
          <li><a href="<%= change_language('en') %>">EN</a></li>
        </ul>
      </li>
      <li class="for-mobile"><a href="<%= change_language('en') %>">EN</a></li>
      <!--<li><a href="<%= change_language('fr') %>">FR</a></li> -->
    <% end %>
    <% if (I18n.locale == :en) %>
      <li class="is-current"><a href="#">EN</a>
        <ul>
          <li><a href="<%= change_language('de') %>">DE</a></li>
        </ul>
      </li>
      <li class="for-mobile"><a href="<%= change_language('de') %>">DE</a></li>
      <!--<li><a href="<%= change_language('fr') %>">FR</a></li> -->
    <% end %>
    <li><a target="_blank" href="https://console.appuio.ch"><%= t(:navGlobalLogin) %></a></li>
    <!-- <% if (I18n.locale == :fr) %>
    <li><a href="<%= change_language('de') %>">DE</a></li>
    <li><a href="<%= change_language('en') %>">EN</a></li>
    <li class="is-current"><a href="#">FR</a></li>
    <% end %>
    -->
  </ul>

  <div class="sidenav-style">
    <div class="dropdown-content sidenav-color-setting" id="sidenavId">
      <div class="dropdown nav-element sidenav-element <%= nav_active('index.html') %>">
        <button class="dropbtn nav-button" onclick="window.location.href = 'index.html';">Home</button>
      </div>
      <!-- offers dropdown -->
      <div class="dropdown nav-element sidenav-element <%= parent_active('managed-private.html', 'public.html', 'unmanaged.html') %>">
        <button class="dropbtn sidenav-button-offers nav-button" id="sidenavOffersButton">
          <%= t(:navOffers) %>
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <div class="dropdown-content dropdown-content-offerings sidenav-sub-nav-dropdown" id="sidenavOffersDropdown">
          <a href="./public.html" class="nav-element-route <%= nav_active('public.html') %>"><%= t(:navOffer2) %></a>
          <a href="./managed-private.html" class="nav-element-route <%= nav_active('managed-private.html') %>"><%= t(:navOffer1) %></a>
          <a href="./unmanaged.html" class="nav-element-route <%= nav_active('unmanaged.html') %>"><%= t(:navOffer3) %></a>
          <a href="./faq.html" class="nav-element-route <%= nav_active('faq.html') %>"><%= t(:navGlobalFAQ) %></a>
        </div>
      </div>

<!--      community-->
      <div class="dropdown nav-element sidenav-element <%= nav_active('blog.html') %>">
        <button class="dropbtn sidenav-button-community nav-button" id="sidenavCommunityButton">
          Community
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <div class="dropdown-content dropdown-content-community sidenav-sub-nav-dropdown" id="sidenavCommunityDropdown">
          <a class="nav-element-route" target="_blank" href="http://docs.appuio.ch"><%= t(:navGlobalDocs) %></a>
          <a class="nav-element-route" target="_blank" href="https://community.appuio.ch"><%= t(:navGlobalCommunityChat) %></a>
          <a href="./blog.html" class="nav-element-route <%= nav_active('blog.html') %>"><%= t(:navGlobalBlog) %></a>
        </div>
      </div>

      <div class="dropdown nav-element sidenav-element <%= nav_active('techlabs.html') %>">
        <button class="dropbtn nav-button" onclick="window.location.href = 'techlabs.html';">
          <%= t(:navTechlabs) %>
        </button>
      </div>

      <div class="dropdown nav-element  sidenav-element<%= nav_active('team.html') %>">
        <button class="dropbtn nav-button" onclick="window.location.href = 'team.html';"><%= t(:team) %></button>
      </div>

      <div class="dropdown nav-element sidenav-element">
        <button class="dropbtn nav-button <%= nav_active('index.html') %>" onclick="window.location.href = './#contact';"><%= t(:navContact) %></button>
      </div>

      <ul class="nav-lang">
        <% if (I18n.locale == :de) %>
          <li class="is-current"><a href="#">DE</a>
            <ul>
              <li><a href="<%= change_language('en') %>">EN</a></li>
            </ul>
          </li>
          <li class="for-mobile"><a href="<%= change_language('en') %>">EN</a></li>
          <!--<li><a href="<%= change_language('fr') %>">FR</a></li> -->
        <% end %>
        <% if (I18n.locale == :en) %>
          <li class="is-current"><a href="#">EN</a>
            <ul>
              <li><a href="<%= change_language('de') %>">DE</a></li>
            </ul>
          </li>
          <li class="for-mobile"><a href="<%= change_language('de') %>">DE</a></li>
          <!--<li><a href="<%= change_language('fr') %>">FR</a></li> -->
        <% end %>
        <li><a target="_blank" href="https://console.appuio.ch"><%= t(:navGlobalLogin) %></a></li>
        <!-- <% if (I18n.locale == :fr) %>
    <li><a href="<%= change_language('de') %>">DE</a></li>
    <li><a href="<%= change_language('en') %>">EN</a></li>
    <li class="is-current"><a href="#">FR</a></li>
    <% end %>
    -->
      </ul>
    </div>
  </div>
</nav>
