<section class="offer-three offer-three-intro offer-three-image offer-header-image">
  <%= partial "partials/svgs/angebot_unmanaged" %>
  <div class="grid-container offer-start-text ">
      <h2 class="offers-title"><%= t(:offerThreeTitle) %></h2>
      <p class="offers-intro"><%= t(:offerThreeIntro) %></p>
    </div>
  </section>

<section id="offer-two-advantages" class="advantages offer-two-advantages">
  <div class="grid-container">
    <ul class="advantages-list callout-list">
      <li class="callout-item offer3_advantage1-image">
        <div class="advantage-dot">
          <img src="/images/unManaged/knowHow.svg" alt="knowHow" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesOneTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesOneDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage2-image">
        <div class="advantage-dot">
          <img src="/images/unManaged/experience.svg" alt="experience" class="advantage-image bottom-offset"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesTwoTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesTwoDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage3-image">
        <div class="advantage-dot">
          <img src="/images/managed/freie_wahl.svg" alt="time saving" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesThreeTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesThreeDesc) %></p>
      </li>
    </ul>
    <ul class="advantages-list callout-list">
      <li class="callout-item offer3_advantage4-image">
        <div class="advantage-dot">
          <img src="/images/managed/devOps.svg" alt="time saving" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesFourTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesFourDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage5-image">
        <div class="advantage-dot">
          <img src="/images/unManaged/learning_Organisation.svg" alt="time saving" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesFiveTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesFiveDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage6-image">
        <div class="advantage-dot">
          <img src="/images/unManaged/longterm_support.svg" alt="time saving" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesSixTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerThreeAdvantagesSixDesc) %></p>
      </li>
    </ul>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerThreePackageContentsTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list expandable-info-list cols-4">
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsFirstTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFirstItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsSecondTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsSecondItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsThirdTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsThirdItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsFourthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFourthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsFifthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFifthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerThreePackageContentsSixthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsSixthItemOne) %></div>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
  <div class="grid-container">
    <h2 class="offers-addons-title"><%= t(:offerThreeAddonsTitle) %></h2>
    <article>
      <div class="boxes offer-addon-boxes">
        <div class="flex-column">
          <b><%= t(:offerThreeAddon1Title) %></b>
          <p class="flex-1"><%= t(:offerThreeAddon1Description) %></p>
          <div><%= t(:offerThreeAddon1Price) %></div>
        </div>
        <div class="flex-column">
          <b><%= t(:offerThreeAddon2Title) %></b>
          <p class="flex-1"><%= t(:offerThreeAddon2Description) %></p>
          <div><%= t(:offerThreeAddon2Price) %></div>
        </div>
        <div class="flex-column">
          <b><%= t(:offerThreeAddon3Title) %></b>
          <p class="flex-1"><%= t(:offerThreeAddon3Description) %></p>
          <div><%= t(:offerThreeAddon3Price) %></div>
        </div>
      </div>
    </article>
    <!-- <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoStorageDescription) %></p>
      </article> -->
  </div>
</section>

<!--<section class="offer-two-contents">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerThreeIaasTitle) %></h2>-->
    <%#= partial "partials/partners/unManagedIaas" %>
<!--  </div>-->
<!--</section>-->

<!--<section class="offer-two-contents blue-section">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerThreeCustomerTitle) %></h2>-->
    <%#= partial "partials/partners/unManagedPartner" %>
<!--  </div>-->
<!--</section>-->

<!--<section class="offer-two-contents">-->
<!--  <div class="grid-container">-->
<!--    <h2 class="offers-package-title"><%#= t(:offerThreeFAQTitle) %></h2>-->
<!--    <article class="offers-package package-contents">-->
<!--      <ul class="offers-package-list cols-4">-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerThreeFAQQuestion1) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerThreeFAQAnswer1) %></div>-->
<!--        </li>-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerThreeFAQQuestion2) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerThreeFAQAnswer2) %></div>-->
<!--        </li>-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerThreeFAQQuestion3) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerThreeFAQAnswer3) %></div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </article>-->
<!--  </div>-->
<!--</section>-->

<section class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-three-contact-title"><%= t(:offerThreeContactTitle) %></h2>
    <p class="home-contact-desc"><%= t(:offerThreeContactDesc) %></p>
    <form id="offer-three-contact-form" name="offer-three-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerThreeLoadingMessage) %>" data-success-message="<%= t(:offerThreeSuccessMessage) %>">
      <div class="offer-three-contact-form">
        <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
        <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
        <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
        <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
        <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
        <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
      </div>
      <label class="appuio-contact-button button-progress">
        <input id="submitButton" type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
      </label>
      <div class="home-feedback-container">
        <p class="home-feedback"></p>
      </div>
    </form>
  </div>
</section>
