<section class="offer-two offer-two-intro">
  <div class="grid-container">
    <div class="offers-image"><%= image_tag "offer_cloud.svg", :alt => t(:offerTwoTitle) %></div>
    <h2 class="offers-title"><%= t(:offerTwoTitle) %></h2>
    <p class="offers-intro"><%= t(:offerTwoIntro) %></p>

    <div class="grid-container">
      <div class="offer-container">
        <article class="offer-item is-third has-white-font">
          <span class="offer-item-image"><%= image_tag "bundles.svg", :alt => t(:offerTwoServices1) %></span>
          <h1>1</h1>
          <p class="offer-item-desc"><%= t(:offerTwoServices1) %></p>
        </article>
        <article class="offer-item is-third has-white-font">
          <span class="offer-item-image"><%= image_tag "community.svg", :alt => t(:offerTwoServices2) %></span>
          <h1>2</h1>
          <p class="offer-item-desc"><%= t(:offerTwoServices2) %></p>
        </article>
        <article class="offer-item is-third has-white-font">
          <span class="offer-item-image"><%= image_tag "backup.svg", :alt => t(:offerTwoServices3) %></span>
          <h1>3</h1>
          <p class="offer-item-desc"><%= t(:offerTwoServices3) %></p>
        </article>
      </div>
      <p class="offers-desc">
        <%= t(:offerTwoServicesDesc) %>
      </p>
      <p class="offers-desc">
        <%= t(:offerTwoIso) %>
      </p>
    </div>
  </div>
</section>

<section class="offer-two-offers">
  <div class="grid-container">
    <h3 class="offers-package-title"><%= t(:offerTwoPackageTitle) %></h3>

    <div class="offers-package-container">
      <article class="offers-package is-banner-before">
        <h1 class="offers-banner-title promotion"><%= t(:offerTwoPromotionTitle) %></h1>
        <p class="offers-banner-desc"><%= t(:offerTwoPromotionText) %></p>
      </article>
      <a class="offers-package is-fourth" href="#offers-two-contact" data-check="interest-micro">
        <h3 class="offers-package-list-title"><%= t(:offerTwoPackageMicroTitle) %></h3>
        <ul class="offers-package-list">
          <li class="offers-package-item"><%= t(:offerTwoPackageMicroItem1) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMicroItem2) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMicroItem3) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMicroItem4) %></li>
        </ul>
      </a>
      <a class="offers-package is-fourth" href="#offers-two-contact" data-check="interest-medium">
        <h3 class="offers-package-list-title"><%= t(:offerTwoPackageMediumTitle) %></h3>
        <ul class="offers-package-list">
          <li class="offers-package-item"><%= t(:offerTwoPackageMediumItem1) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMediumItem2) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMediumItem3) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageMediumItem4) %></li>
        </ul>
      </a>
      <a class="offers-package is-fourth" href="#offers-two-contact" data-check="interest-large">
        <h3 class="offers-package-list-title"><%= t(:offerTwoPackageLargeTitle) %></h3>
        <ul class="offers-package-list">
          <li class="offers-package-item"><%= t(:offerTwoPackageLargeItem1) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageLargeItem2) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageLargeItem3) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageLargeItem4) %></li>
        </ul>
      </a>
      <a class="offers-package is-fourth" href="#offers-two-contact" data-check="interest-xlarge">
        <h3 class="offers-package-list-title"><%= t(:offerTwoPackageXlargeTitle) %></h3>
        <ul class="offers-package-list">
          <li class="offers-package-item"><%= t(:offerTwoPackageXlargeItem1) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageXlargeItem2) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageXlargeItem3) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageXlargeItem4) %></li>
        </ul>
      </a>
      <article class="offers-package last-child" href="#offers-two-contact" data-check="interest-custom">
        <h3 class="offers-package-list-title"><%= t(:offerTwoPackageAddonsTitle) %></h3>
        <p class="offers-package-pretext"><%= t(:offerTwoPackageAddonsPretext) %></p>
        <ul class="offers-package-list">
          <li class="offers-package-item"><%= t(:offerTwoPackageAddonsItem1) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageAddonsItem2) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageAddonsItem3) %></li>
          <li class="offers-package-item"><%= t(:offerTwoPackageAddonsItem4) %></li>
        </ul>
      </article>
      <article class="offers-package is-banner-after">
        <h1 class="offers-banner-title"><%= t(:offerTwoCustom) %></h1>
        <p class="offers-banner-desc"><%= t(:offerTwoCustomText) %></p>
      </article>
    </div>

  </div>
</section>

<a name="offers-two-contact"></a>
<section class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-two-contact-title"><%= t(:offerContactTitle) %></h2>
    <form id="offer-two-contact-form" class="offers-contact-container">
      <div class="home-contact-interest interest-container">
        <h3 class="interest-title"><%= t(:homeContactSubject) %></h3>
        <div class="interest-item">
          <input id="interest-micro" value="<%= t(:offerTwoPackageMicroTitle) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-micro"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoPackageMicroTitle) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-medium" value="<%= t(:offerTwoPackageMediumTitle) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-medium"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoPackageMediumTitle) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-large" value="<%= t(:offerTwoPackageLargeTitle) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-large"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoPackageLargeTitle) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-xlarge" value="<%= t(:offerTwoPackageXlargeTitle) %>" type="checkbox" name="interests[]" class="interest-checkbox" >
          <label for="interest-xlarge"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoPackageXlargeTitle) %></label>
        </div>
        <div class="interest-item">
          <input id="interest-custom" value="<%= t(:offerTwoCustom) %>" type="checkbox" name="interests[]" class="interest-checkbox">
          <label for="interest-custom"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoCustom) %></label>
        </div>
      </div>
      <div class="home-contact-form">
        <input title="Vorname" type="text" name="nachname" class="contact-input" placeholder="Vorname" required>
        <input title="Name" type="text" name="vorname" class="contact-input" placeholder="Name" required>
        <input title="Email" type="email" name="email" class="contact-input" placeholder="Email" required>
        <input title="Strasse" type="text" name="strasse" class="contact-input" placeholder="Strasse" required>
        <input title="PLZ, Ort" type="text" name="plz" class="contact-input" placeholder="PLZ, Ort" required>
        <input title="Rechnungsadresse Strasse" type="text" name="rechnungsadresse_strasse" class="contact-input" placeholder="Rechnungsadresse Strasse" required>
        <input title="Rechnungsadresse PLZ, Ort" type="text" name="rechnungsadresse_ort" class="contact-input" placeholder="Rechnungsadresse PLZ, Ort" required>
        <input type="text" name="phone" placeholder="Telefon" class="contact-input" required>
        <textarea title="Nachricht" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="Nachricht" required></textarea>
      </div>
      <div class="offer-three-terms">
        <div class="interest-light">
          <input type="checkbox" name="terms" id="terms" class="interest-checkbox">
          <label for="terms"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoTerms1) %> <a href="#"><%= t(:offerTwoTerms2) %></a></label>
        </div>
      </div>
      <label class="home-contact-button button-progress">
        <input type="submit" class="button is-round" value="<%= t(:offerOrderSend) %>" disabled>
      </label>
    </form>
  </section>
