<section class="offer-one offer-one-intro">
  <div class="grid-container is-relative">
    <div class="offers-image"><%= image_tag "offer1_big.svg", :alt => t(:offerOneTitle) %></div>
    <h2 class="offers-title"><%= t(:offerOneTitle) %></h2>
    <p class="offers-intro"><%= t(:offerOneIntro) %></p>
    <div class="offers-bulletpoints">
      <div class="flex-item">
        <ul>
          <li><%= t(:offerOneList1) %></li>
          <li><%= t(:offerOneList2) %></li>
          <li><%= t(:offerOneList3) %></li>
          <li><%= t(:offerOneList4) %></li>
        </ul>
      </div>
      <div class="flex-item">
        <ul>
          <li><%= t(:offerOneList5) %></li>
          <li><%= t(:offerOneList6) %></li>
          <li><%= t(:offerOneList7) %></li>
        </ul>
      </div>
    </div>
    <p class="offers-desc"><%= t(:offerOneIso) %></p>
  </div>
</section>

<section id="offer-two-advantages" class="advantages offer-two-advantages">
  <div class="grid-container">
    <ul class="advantages-list callout-list">
      <li class="callout-item offer3_advantage1-image">
        <img src="/images/offer3_advantage1.svg" alt="offer3_advantage1-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesOneTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesOneDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage2-image">
        <img src="/images/offer3_advantage2.svg" alt="offer3_advantage2-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesTwoTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesTwoDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage3-image">
        <img src="/images/offer3_advantage3.svg" alt="offer3_advantage3-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesThreeTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesThreeDesc) %></p>
      </li>
    </ul>
    <ul class="advantages-list callout-list">
      <li class="callout-item offer3_advantage4-image">
        <img src="/images/offer3_advantage4.svg" alt="offer3_advantage4-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesFourTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesFourDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage5-image">
        <img src="/images/offer3_advantage5.svg" alt="offer3_advantage5-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesFiveTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesFiveDesc) %></p>
      </li>
      <li class="callout-item offer3_advantage6-image">
        <img src="/images/offer3_advantage6.svg" alt="offer3_advantage6-image" />
        <h3 class="callout-title"><%= t(:offerThreeAdvantagesSixTitle) %></h3>
        <p class="callout-desc"><%= t(:offerThreeAdvantagesSixDesc) %></p>
      </li>
    </ul>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerThreePackageContentsTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list cols-4">
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsFirstTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFirstItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsSecondTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsSecondItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsThirdTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsThirdItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsFourthTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFourthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsFifthTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsFifthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreePackageContentsSixthTitle) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreePackageContentsSixthItemOne) %></div>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
  <div class="grid-container">
    <h2 class="offers-addons-title"><%= t(:offerThreeAddonsTitle) %></h2>
    <article class="offers-package last-child">
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerThreeAddon1Title) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon1Description) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon1Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerThreeAddon2Title) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon2Description) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon2Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerThreeAddon3Title) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon3Description) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon3Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerThreeAddon4Title) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon4Description) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon4Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerThreeAddon5Title) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon5Description) %></li>
        <li class="offers-package-item"><%= t(:offerThreeAddon5Price) %></li>
      </ul>
    </article>
    <!-- <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoStorageDescription) %></p>
      </article> -->
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerThreeIaasTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list cols-4">
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner1.svg" alt="offer3_IaasPartner-image" />
          <h3 class="text-black"><%= t(:offerThreeIaasName1) %></h3>
          <p class="callout-desc"><%= t(:offerThreeIaasDescription1) %></p>
        </li>
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner2.svg" alt="offer3_IaasPartner-image" />
          <h3 class="text-black"><%= t(:offerThreeIaasName2) %></h3>
          <p class="callout-desc"><%= t(:offerThreeIaasDescription2) %></p>
        </li>
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner3.svg" alt="offer3_IaasPartner-image" />
          <h3 class="text-black"><%= t(:offerThreeIaasName3) %></h3>
          <p class="callout-desc"><%= t(:offerThreeIaasDescription3) %></p>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerThreeCustomerTitle) %></h2>
    <article class="offers-package last-child">
      <ul class="offers-package-list cols-4">
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner1.svg" alt="offer3_IaasPartner-image" />
          <h3 class="callout-title"><%= t(:offerThreeCustomerName1) %></h3>
          <p class="callout-desc"><%= t(:offerThreeCustomerDescription1) %></p>
        </li>
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner2.svg" alt="offer3_IaasPartner-image" />
          <h3 class="callout-title"><%= t(:offerThreeCustomerName1) %></h3>
          <p class="callout-desc"><%= t(:offerThreeCustomerDescription1) %></p>
        </li>
        <li class="offers-package-item">
          <img src="/images/offer3_IaasPartner3.svg" alt="offer3_IaasPartner-image" />
          <h3 class="callout-title"><%= t(:offerThreeCustomerName1) %></h3>
          <p class="callout-desc"><%= t(:offerThreeCustomerDescription1) %></p>
        </li>
      </ul>
    </article>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerThreeFAQTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list cols-4">
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreeFAQQuestion1) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreeFAQAnswer1) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreeFAQQuestion2) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreeFAQAnswer2) %></div>
        </li>
        <li class="offers-package-item">
          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%= t(:offerThreeFAQQuestion3) %></a></h4>
          <div class="offers-package-item-description"><%= t(:offerThreeFAQAnswer3) %></div>
        </li>
      </ul>
    </article>
  </div>
</section>

  <a name="offers-one-contact"></a>
  <section class="offer-contact">
    <div class="grid-container">
      <h2 class="offer-contact-title"><%= t(:offerOneContactTitle) %></h2>
      <p class="home-contact-desc"><%= t(:offerOneContactDesc) %></p>
      <form id="offer-one-contact-form" name="offer-one-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerOneLoadingMessage) %>" data-success-message="<%= t(:offerOneSuccessMessage) %>">
        <div class="offer-three-contact-form">
          <input id="interest-medium" value="<%= t(:offerOnePackageMediumTitle) %>" type="hidden" name="interests[]" class="interest-checkbox">
          <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
          <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
          <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
          <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
          <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
          <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
        </div>
        <label class="appuio-contact-button button-progress">
          <input type="submit" class="button is-round" value="<%= t(:offerOneOrderSend) %>">
        </label>
        <div class="home-feedback-container">
          <p class="home-feedback"></p>
        </div>
      </form>
    </div>
  </section>
