<section class="offer-one offer-one-intro offer-one-image offer-header-image">
  <%= partial "partials/svgs/angebot_managed" %>
  <div class="grid-container is-relative offer-start-text" >
    <h2 class="offers-title"><%= t(:offerOneTitle) %></h2>
    <p class="offers-intro"><%= t(:offerOneIntro) %></p>
  </div>
</section>

<section id="offer-two-advantages" class="advantages">
  <div class="grid-container">
    <ul class="callout-list">
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/entwickeln.svg" alt="time saving" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesOneTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesOneDesc) %></p>
      </li>
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/sofortige_umsetzung.svg" alt="sofortige-umsetzung" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesTwoTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesTwoDesc) %></p>
      </li>
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/automatisierung.svg" alt="automation" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesThreeTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesThreeDesc) %></p>
      </li>
    </ul>
    <ul class="callout-list">
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/devOps.svg" alt="dev-ops" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesFourTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesFourDesc) %></p>
      </li>
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/freie_wahl.svg" alt="flexible" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesFiveTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesFiveDesc) %></p>
      </li>
      <li class="callout-item">
        <div class="advantage-dot">
          <img src="/images/managed/knowHow_sharing.svg" alt="know-how" class="advantage-image"/>
        </div>
        <h3 class="callout-title"><%= t(:offerOneAdvantagesSixTitle) %></h3>
        <p class="callout-desc advantages-height-spacing-min"><%= t(:offerOneAdvantagesSixDesc) %></p>
      </li>
    </ul>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerOnePackageContentsTitle) %></h2>
    <p class="home-contact-desc included-services-intro-text"><%= t(:offerOnePackageContentsIntro) %></p>
    <article class="offers-package package-contents">
      <ul class="offers-package-list expandable-info-list cols-4">
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleFirstTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleFirstItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleSecondTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleSecondItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleThirdTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleThirdItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleFourthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleFourthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleFifthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleFifthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerOnePackageContentsTitleSixthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerOnePackageContentsTitleSixthItemOne) %></div>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
  <div class="grid-container">
    <h2 class="offers-addons-title"><%= t(:offerOneAddonsTitle) %></h2>
    <article class="offers-package last-child">
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerOneAddon1Title) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon1Description) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon1Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerOneAddon2Title) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon2Description) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon2Price) %></li>
      </ul>
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offers-addons-package-title"><%= t(:offerOneAddon3Title) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon3Description) %></li>
        <li class="offers-package-item"><%= t(:offerOneAddon3Price) %></li>
      </ul>
    </article>
    <!-- <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoStorageDescription) %></p>
      </article> -->
  </div>
</section>

<!--<section class="offer-two-contents">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerOneIaasTitle) %></h2>-->
    <%#= partial "partials/partners/managedIaas" %>
<!--  </div>-->
<!--</section>-->

<!--<section class="offer-two-contents blue-section">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerOneCustomerTitle) %></h2>-->
    <%#= partial "partials/partners/managedPartner" %>
<!--  </div>-->
<!--</section>-->

<!--<section class="offer-two-contents">-->
<!--  <div class="grid-container">-->
<!--    <h2 class="offers-package-title"><%#= t(:offerOneFAQTitle) %></h2>-->
<!--    <article class="offers-package package-contents">-->
<!--      <ul class="offers-package-list cols-4">-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerOneFAQQuestion1) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerOneFAQAnswer1) %></div>-->
<!--        </li>-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerOneFAQQuestion2) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerOneFAQAnswer2) %></div>-->
<!--        </li>-->
<!--        <li class="offers-package-item">-->
<!--          <h4 class="expandable-title"><a href="#" slide-toggle=".offers-package-item-description"><%#= t(:offerOneFAQQuestion3) %></a></h4>-->
<!--          <div class="offers-package-item-description"><%#= t(:offerOneFAQAnswer3) %></div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </article>-->
<!--  </div>-->
<!--</section>-->

<a id="offers-one-contact"></a>
  <section class="offer-contact">
    <div class="grid-container">
      <h2 class="offer-contact-title"><%= t(:offerOneContactTitle) %></h2>
      <p class="home-contact-desc"><%= t(:offerOneContactDesc) %></p>
      <form id="offer-one-contact-form" name="offer-one-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerOneLoadingMessage) %>" data-success-message="<%= t(:offerOneSuccessMessage) %>">
        <div class="offer-three-contact-form">
          <input id="interest-medium" value="<%= t(:offerOnePackageMediumTitle) %>" type="hidden" name="interests[]" class="interest-checkbox">
          <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
          <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
          <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
          <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
          <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
          <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
        </div>
        <label class="appuio-contact-button button-progress">
          <input id="submitButton" type="submit" class="button is-round" value="<%= t(:offerOneOrderSend) %>">
        </label>
        <div class="home-feedback-container">
          <p class="home-feedback"></p>
        </div>
      </form>
    </div>
  </section>
