<section class="offer-two offer-two-intro">
  <div class="grid-container">
    <div class="offers-image"><%= image_tag "offer2_big.svg", :alt => t(:offerOneTitle) %></div>
    <h2 class="offers-title"><%= t(:offerTwoTitle) %></h2>
    <p class="offers-intro"><%= t(:offerTwoIntro) %></p>
    <!-- <p class="offers-desc">
      <%= t(:offerTwoIso) %>
    </p> -->
  </div>
</section>

<section id="offer-two-advantages" class="advantages offer-two-advantages">
  <div class="grid-container">
    <ul class="advantages-list callout-list">
      <li class="callout-item aoffer2_dvantage1-image">
        <img src="/images/offer2_advantage1.svg" alt="offer2_advantage1-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesOneTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesOneDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage2-image">
        <img src="/images/offer2_advantage2.svg" alt="offer2_advantage2-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesTwoTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesTwoDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage3-image">
        <img src="/images/offer2_advantage3.svg" alt="offer2_advantage3-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesThreeTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesThreeDesc) %></p>
      </li>
    </ul>
    <ul class="advantages-list callout-list">
      <li class="callout-item offer2_advantage4-image">
        <img src="/images/offer2_advantage4.svg" alt="offer2_advantage4-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesFourTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesFourDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage5-image">
        <img src="/images/offer2_advantage5.svg" alt="offer2_advantage5-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesFiveTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesFiveDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage6-image">
        <img src="/images/offer2_advantage6.svg" alt="offer2_advantage6-image" />
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesSixTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesSixDesc) %></p>
      </li>
    </ul>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerTwoPackageContentsTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list cols-4">
        <li class="offers-package-item">
            <h4><%= t(:offerTwoPackageContentsFirstTitle) %></h4>
          <%= t(:offerTwoPackageContentsFirstItemOne) %>
        </li>
        <li class="offers-package-item">
        <h4><%= t(:offerTwoPackageContentsSecondTitle) %></h4>
          <%= t(:offerTwoPackageContentsSecondItemOne) %>
        </li>
        <li class="offers-package-item">
        <h4><%= t(:offerTwoPackageContentsThirdTitle) %></h4>
          <%= t(:offerTwoPackageContentsThirdItemOne) %>
        </li>
        <li class="offers-package-item">
        <h4><%= t(:offerTwoPackageContentsFourthTitle) %></h4>
          <%= t(:offerTwoPackageContentsFourthItemOne) %>
        </li>
        <li class="offers-package-item">
        <h4><%= t(:offerTwoPackageContentsFifthTitle) %></h4>
          <%= t(:offerTwoPackageContentsFifthItemOne) %>
        </li>
        <li class="offers-package-item">
        <h4><%= t(:offerTwoPackageContentsSixthTitle) %></h4>
          <%= t(:offerTwoPackageContentsSixthItemOne) %>
        </li>
      </ul>
    </article>
  </div>
</section>

<section class="offer-two-services">
  <div class="grid-container">
      <h2 class="offers-package-title"><%= t(:offerTwoServicesTitle) %></h2>
      <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoServicesDescription) %></p>
      </article>
    <ul class="home-offer-list callout-list">
      <li class="callout-item">
        <div class="offers-package-ribbon is-orange"></div>
        <h3 class="callout-title"><%= t(:offerTwoProductsOneTitel) %></h3>
        <p class="callout-desc"><%= t(:offerTwoProductsOneDesc) %></p>
        <a href="#offer-shared" class="callout-button button is-round"><%= t(:offerTwoProductsSharedOrder) %></a>
      </li>
      <li class="callout-item">
        <div class="offers-package-ribbon is-yellow"></div>
        <h3 class="callout-title"><%= t(:offerTwoProductsTwoTitel) %></h3>
        <p class="callout-desc"><%= t(:offerTwoProductsTwoDesc) %></p>
        <a href="#offers-two-contact" onclick="void (document.getElementById('interest-dedicated').checked = true)" class="callout-button button is-round"><%= t(:offerTwoProductsDedOrder) %></a>
      </li>
    </ul>
  </div>
</section>

<section id="offer-shared" class="offer-two-offers">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerTwoPackageTitle) %></h2>
    <article class="offers-package last-child">
        <!-- <div class="offers-package-ribbon is-orange text-center"><%= t(:offerDynamicAddonsPretext) %></div> -->
        <div class="appuio-price-source-selection">
          <h3 hidden>Title for Price Source Selection</h3>
          <div class="price-switch-container">
            <div class="price-switch">
              <input id="price-switch-appuio" type="radio" name="appuio-price-source" value="appuio" checked>
              <input id="price-switch-aws" type="radio" name="appuio-price-source" value="aws">
              <label for="price-switch-appuio">
                Schweiz
              </label>
              <label for="price-switch-aws">
                AWS Frankfurt
              </label>
              <span class="toggle"></span>
            </div>
          </div>
        </div>
        <!-- <h3 class="offers-package-list-title m-t-2"><%= t(:offerDynamicAddonsTitle) %></h3> -->
        <input name="memory" data-appuio-range-slider class="range-slider__range" id="memoryslider" type="range" value="512" min="512" max="20480" step="512">
        <ul class="offers-package-list cols-5">
          <li class="offers-package-item offer-package-power"><%= t(:offerTwoLabelCpu) %>: <span class="cpuvalue"></span><br><%= t(:offerTwoLabelMemory) %>: <span class="memoryvalue"></span></li>
          <li class="offers-package-item offers-package-price">
            <h3 class="offers-package-list-title"><%= t(:offerTwoLabelPreis) %></h3>
            <div class="offers-package-table-wrapper">
              <table class="offers-price-table" summary="<%= t(:offerTwoLabelPreis) %>">
                <tbody>
                  <tr>
                    <td class="text-right pricevalueperday"></td>
                    <td><%= t(:offerTwoLabelPreisPerDay) %></td>
                  </tr>
                  <tr>
                    <td class="text-right pricevaluepermonth"></td>
                    <td><%= t(:offerTwoLabelPreisPerMonth) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
        <div class="offers-package-button-wrapper">
        <div  class="offers-package-button" ><a href="#offers-two-contact" class="button is-round" data-check="interest-custom"><%= t(:offerTwoDynamicButton) %></a></div>
        <div>
          <p class="offers-package-dedicated-info"><%= t(:offerPackageDedicatedInfo) %></p>
        </div>
      </div>
      </article>
      <div class="offers-package-container offers-package-container--offers2">
       <div class="offers-package offers-package--small is-fourth">
          <div class="offers-package-ribbon is-orange">Small</div>
          <ul class="offers-package-list">
            <%= t(:offerTwoPossibilitiesSmall) %>
          </ul>
        </div>
        <div class="offers-package offers-package--medium is-fourth">
          <div class="offers-package-ribbon is-orange">Medium</div>
          <ul class="offers-package-list">
            <%= t(:offerTwoPossibilitiesMedium) %>
          </ul>
        </div>
        <div class="offers-package offers-package--large is-fourth">
          <div class="offers-package-ribbon is-orange">Large</div>
          <ul class="offers-package-list">
            <%= t(:offerTwoPossibilitiesLarge) %>
          </ul>
        </div>
        <div class="offers-package offers-package--x-large is-fourth">
          <div class="offers-package-ribbon is-orange">X-Large</div>
          <ul class="offers-package-list">
            <%= t(:offerTwoPossibilitiesXLarge) %>
          </ul>
        </div>
      </div>
      <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoCPUDescription) %></p>
      </article>
    </div>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
    <div class="grid-container">
      <h2 class="offers-addons-title"><%= t(:offerTwoAddonsTitle) %></h2>
      <article class="offers-package last-child">
        <ul class="offers-package-list cols-5">
          <li class="offers-package-item offers-addons-package-title"><%= t(:offerTwoAddon1Title) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon1Description) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon1Price) %></li>
        </ul>
        <ul class="offers-package-list cols-5">
          <li class="offers-package-item offers-addons-package-title"><%= t(:offerTwoAddon2Title) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon2Description) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon2Price) %></li>
        </ul>
        <ul class="offers-package-list cols-5">
          <li class="offers-package-item offers-addons-package-title"><%= t(:offerTwoAddon3Title) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon3Description) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon3Price) %></li>
        </ul>
        <ul class="offers-package-list cols-5">
          <li class="offers-package-item offers-addons-package-title"><%= t(:offerTwoAddon4Title) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon4Description) %></li>
          <li class="offers-package-item"><%= t(:offerTwoAddon4Price) %></li>
        </ul>
      </article>
      <!-- <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoStorageDescription) %></p>
      </article> -->
  </div>
</section>

<section id="offers-two-faq" class="offer-faq">
    <div class="grid-container">
      <h2 class="offers-faq-title"><%= t(:offerTwoFaqTitle) %></h2>
      <div class="offers-faq-container">
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerOneTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerTwoTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerTreeTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerTreeText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerFourTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerFourText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerFiveTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerFiveText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqVerSixTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerSixText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAllOneTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAllTwoTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAllTreeTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllTreeText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAllFourTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllFourText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAddOneTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddOneText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAddTwoTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddTwoText) %></p>
        </article>
        <article class="offers-faq-item">
          <h4 class="offers-faq-list-title"><%= t(:offerTwoFaqAddTreeTitle) %></h4>
          <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddTreeText) %></p>
        </article>
      </div>
  </div>
</section>

<section id="offers-two-contact" class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-contact-title"><%= t(:offerTwoContactTitle) %></h2>
    <form id="offer-two-contact-form" name="offer-two-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerTwoLoadingMessage) %>" data-success-message="<%= t(:offerTwoSuccessMessage) %>">
      <div class="home-contact-interest interest-container">
        <h3 class="interest-title"><%= t(:offerTwoContactSubject) %></h3>
        <div class="interest-item">
          <input id="interest-custom" value="false" name="dedicated" class="interest-checkbox" type="radio" checked>
          <label for="interest-custom">
            <div class="icon icon--ei-close  interest-icon">
              <svg class="icon__cnt"><use xlink:href="#ei-close-icon"></use></svg>
            </div>
            <div class="interest-item">
              <p class="contract-hint"><%= t(:offerTwoLabelMemory) %>: <span class="memoryvalue"></span></p>
            </div>
            <div class="interest-item">
              <p class="contract-hint"><%= t(:offerTwoLabelCpu) %>: <span class="cpuvalue"></span></p>
            </div>
            <div class="interest-item">
              <p class="contract-hint">
                Zone:
                <span class="appuio-price-source appuio-price-source--appuio">Schweiz</span>
                <span class="appuio-price-source appuio-price-source--aws" hidden>AWS Frankfurt</span>
              </p>
            </div>
            <div class="interest-item interest-item-price">
              <p class="contract-hint"><%= t(:offerTwoLabelPreis) %>:</p>
              <table class="offers-price-table" summary="<%= t(:offerTwoLabelPreis) %>">
                <tbody>
                  <tr>
                    <td class="text-right pricevalueperday"></td>
                    <td><%= t(:offerTwoLabelPreisPerDay) %></td>
                  </tr>
                  <tr>
                    <td class="text-right pricevaluepermonth"></td>
                    <td><%= t(:offerTwoLabelPreisPerMonth) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </label>
        </div>
        <div class="interest-item">
          <input id="interest-dedicated" value="true" name="dedicated" class="interest-checkbox" type="radio">
          <label for="interest-dedicated">
            <div class="icon icon--ei-close  interest-icon">
              <svg class="icon__cnt"><use xlink:href="#ei-close-icon"></use></svg>
            </div>
            Dedicated
          </label>
        </div>
        <div class="interest-item contract-duration">
          <p class="contract-hint"><%= t(:offerTwoBilling) %></p>
        </div>
      </div>
      <div class="home-contact-form">
        <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
        <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
        <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
        <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
        <input title="<%= t(:homeContactYourStreetTitle) %>" type="text" name="adresse" class="contact-input" placeholder="<%= t(:homeContactYourStreet) %>" required>
        <input title="<%= t(:homeContactYourPLZTitle) %>" type="text" name="plz" class="contact-input" placeholder="<%= t(:homeContactYourPLZ) %>" required>
        <input title="<%= t(:homeContactYourORTTitle) %>" type="text" name="ort" class="contact-input" placeholder="<%= t(:homeContactYourORT) %>" required>
        <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
        <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>"></textarea>
      </div>
      <div class="offer-three-terms">
        <div class="interest-light">
          <input type="checkbox" name="terms" id="terms" class="interest-checkbox">
          <label for="terms"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoTerms1) %> <a href="./pdf/APPUiO-terms-and-conditions-v1.2-<%=I18n.locale %>.pdf" target="_blank"><%= t(:offerTwoTerms2) %></a></label>
        </div>
      </div>
      <label class="appuio-contact-button button-progress">
        <input type="submit" class="button is-round" value="<%= t(:offerTwoSend) %>" disabled>
      </label>
      <div class="home-feedback-container">
        <p class="home-feedback"></p>
      </div>
    </form>
  </div>
</section>
<%= javascript_include_tag 'price-calculator.min.js' %>
