<section class="offer-two offer-two-intro offer-two-image offer-header-image" >
  <%= partial "partials/svgs/angebot_public" %>
  <div class="grid-container offer-start-text">
    <h2 class="offers-title"><%= t(:offerTwoTitle) %></h2>
    <p class="offers-intro"><%= t(:offerTwoIntro) %></p>
    <!-- <p class="offers-desc">
      <%= t(:offerTwoIso) %>
    </p> -->
  </div>
</section>

<section id="offer-two-advantages" class="advantages offer-two-advantages">
  <div class="grid-container">
    <ul class="advantages-list callout-list">
      <li class="callout-item aoffer2_dvantage1-image">
        <img src="/images/offer2_advantage1.svg" alt="offer2_advantage1-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesOneTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesOneDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage2-image">
        <img src="/images/offer2_advantage2.svg" alt="offer2_advantage2-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesTwoTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesTwoDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage3-image">
        <img src="/images/offer2_advantage3.svg" alt="offer2_advantage3-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesThreeTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesThreeDesc) %></p>
      </li>
    </ul>
    <ul class="advantages-list callout-list">
      <li class="callout-item offer2_advantage4-image">
        <img src="/images/offer2_advantage4.svg" alt="offer2_advantage4-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesFourTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesFourDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage5-image">
        <img src="/images/offer2_advantage5.svg" alt="offer2_advantage5-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesFiveTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesFiveDesc) %></p>
      </li>
      <li class="callout-item offer2_advantage6-image">
        <img src="/images/offer2_advantage6.svg" alt="offer2_advantage6-image"/>
        <h3 class="callout-title"><%= t(:offerTwoAdvantagesSixTitle) %></h3>
        <p class="callout-desc"><%= t(:offerTwoAdvantagesSixDesc) %></p>
      </li>
    </ul>
  </div>
</section>

<section class="offer-two-contents">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerTwoPackageContentsTitle) %></h2>
    <article class="offers-package package-contents">
      <ul class="offers-package-list expandable-info-list cols-4">
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsFirstTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsFirstItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsSecondTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsSecondItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsThirdTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsThirdItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsFourthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsFourthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsFifthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsFifthItemOne) %></div>
        </li>
        <li class="offers-package-item">
          <div class="expandable-info-wrapper" info-slide-toggle=".offers-package-item-description">
            <h4 class="expandable-info-title"><%= t(:offerTwoPackageContentsSixthTitle) %></h4>
            <img alt="caret_down" src="/images/caret_down.svg" class="is-caret">
          </div>
          <div class="offers-package-item-description"><%= t(:offerTwoPackageContentsSixthItemOne) %></div>
        </li>
      </ul>
    </article>
  </div>
</section>

<section class="offer-two-services">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerTwoServicesTitle) %></h2>
    <article class="offers-package is-banner-before">
      <p><%= t(:offerTwoServicesDescription) %></p>
    </article>
    <ul class="home-offer-list callout-list">
      <li class="callout-item">
        <div class="offers-package-ribbon is-orange"></div>
        <h3 class="callout-title"><%= t(:offerTwoProductsOneTitel) %></h3>
        <p class="callout-desc"><%= t(:offerTwoProductsOneDesc) %></p>
        <a href="#offer-shared" class="callout-button button is-round"><%= t(:offerTwoProductsSharedOrder) %></a>
      </li>
      <li class="callout-item">
        <div class="offers-package-ribbon is-yellow"></div>
        <h3 class="callout-title"><%= t(:offerTwoProductsTwoTitel) %></h3>
        <p class="callout-desc"><%= t(:offerTwoProductsTwoDesc) %></p>
        <a href="#offers-two-contact" onclick="void (document.getElementById('interest-dedicated').checked = true)" class="callout-button button is-round"><%= t(:offerTwoProductsDedOrder) %></a>
      </li>
    </ul>
  </div>
</section>

<section id="offer-shared" class="offer-two-offers">
  <div class="grid-container">
    <h2 class="offers-package-title"><%= t(:offerTwoPackageTitle) %></h2>
    <article class="offers-package last-child">
      <!-- <div class="offers-package-ribbon is-orange text-center"><%= t(:offerDynamicAddonsPretext) %></div> -->

      <!-- has to be here to ensure the price calculator works -->
      <input id="price-switch-appuio" type="radio" name="appuio-price-source" value="appuio" checked hidden>

      <!-- <h3 class="offers-package-list-title m-t-2"><%= t(:offerDynamicAddonsTitle) %></h3> -->
      <input name="memory" data-appuio-range-slider class="range-slider__range" id="memoryslider" type="range" value="512" min="512" max="20480" step="512">
      <ul class="offers-package-list cols-5">
        <li class="offers-package-item offer-package-power"><%= t(:offerTwoLabelCpu) %>:
          <span class="cpuvalue"></span><br><%= t(:offerTwoLabelMemory) %>: <span class="memoryvalue"></span></li>
        <li class="offers-package-item offers-package-price">
          <h3 class="offers-package-list-title"><%= t(:offerTwoLabelPreis) %></h3>
          <div class="offers-package-table-wrapper">
            <table class="offers-price-table" summary="<%= t(:offerTwoLabelPreis) %>">
              <tbody>
              <tr>
                <td class="text-right pricevalueperday"></td>
                <td><%= t(:offerTwoLabelPreisPerDay) %></td>
              </tr>
              <tr>
                <td class="text-right pricevaluepermonth"></td>
                <td><%= t(:offerTwoLabelPreisPerMonth) %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
      <div class="offers-package-button-wrapper">
        <div class="offers-package-button">
          <a href="#offers-two-contact" class="button is-round" data-check="interest-custom"><%= t(:offerTwoDynamicButton) %></a>
        </div>
        <div>
          <p class="offers-package-dedicated-info"><%= t(:offerPackageDedicatedInfo) %></p>
        </div>
      </div>
    </article>
    <div class="offers-package-container offers-package-container--offers2">
      <div class="offers-package offers-package--small is-fourth">
        <div class="offers-package-ribbon is-orange">Small</div>
        <ul class="offers-package-list">
          <%= t(:offerTwoPossibilitiesSmall) %>
        </ul>
      </div>
      <div class="offers-package offers-package--medium is-fourth">
        <div class="offers-package-ribbon is-orange">Medium</div>
        <ul class="offers-package-list">
          <%= t(:offerTwoPossibilitiesMedium) %>
        </ul>
      </div>
      <div class="offers-package offers-package--large is-fourth">
        <div class="offers-package-ribbon is-orange">Large</div>
        <ul class="offers-package-list">
          <%= t(:offerTwoPossibilitiesLarge) %>
        </ul>
      </div>
      <div class="offers-package offers-package--x-large is-fourth">
        <div class="offers-package-ribbon is-orange">X-Large</div>
        <ul class="offers-package-list">
          <%= t(:offerTwoPossibilitiesXLarge) %>
        </ul>
      </div>
    </div>
    <article class="offers-package is-banner-before">
      <p><%= t(:offerTwoCPUDescription) %></p>
    </article>
  </div>
  </div>
</section>

<section id="offers-two-addons" class="offer-addons">
  <div class="grid-container">
    <h2 class="offers-addons-title"><%= t(:offerTwoAddonsTitle) %></h2>
    <article>
      <div class="boxes offer-addon-boxes">
        <div class="flex-column">
          <b><%= t(:offerTwoAddon1Title) %></b>
          <p class="flex-1 flex-column justify-center"><%= t(:offerTwoAddon1Description) %></p>
          <div><%= t(:offerTwoAddon1Price) %></div>
        </div>
        <div class="flex-column">
          <b><%= t(:offerTwoAddon3Title) %></b>
          <p class="flex-1 flex-column justify-center"><%= t(:offerTwoAddon3Description) %></p>
          <div><%= t(:offerTwoAddon3Price) %></div>
        </div>
        <div class="flex-column">
          <b><%= t(:offerTwoAddon4Title) %></b>
          <p class="flex-1 flex-column justify-center"><%= t(:offerTwoAddon4Description) %></p>
          <div><%= t(:offerTwoAddon4Price) %></div>
        </div>
        <div class="flex-column">
          <b><%= t(:offerTwoAddon5Title) %></b>
          <p class="flex-1 flex-column justify-center"><%= t(:offerTwoAddon5Description) %></p>
          <div><%= t(:offerTwoAddon5Price) %></div>
        </div>
      </div>
    </article>
    <!-- <article class="offers-package is-banner-before">
        <p><%= t(:offerTwoStorageDescription) %></p>
      </article> -->
  </div>
</section>

<!--<section class="offer-two-contents">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerTwoIaasTitle) %></h2>-->
    <%#= partial "partials/partners/publicIaas" %>
<!--  </div>-->
<!--</section>-->

<!--<section class="offer-two-contents blue-section">-->
<!--  <div class="grid-container offer-two-partner">-->
<!--    <h2><%#= t(:offerTwoCustomerTitle) %></h2>-->
    <%#= partial "partials/partners/publicPartner" %>
<!--  </div>-->
<!--</section>-->


<section id="offers-two-faq" class="offer-faq">
  <div class="grid-container">
    <h2 class="offers-faq-title"><%= t(:offerTwoFaqTitle) %></h2>
    <div class="offers-faq-container">
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerOneTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerOneText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerTwoTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerTwoText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerTreeTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerTreeText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerFourTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerFourText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerFiveTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerFiveText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqVerSixTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqVerSixText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAllOneTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllOneText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAllTwoTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllTwoText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAllTreeTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllTreeText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAllFourTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAllFourText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAddOneTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddOneText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAddTwoTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddTwoText) %></p>
      </article>
      <article class="offers-faq-item">
        <h4 class="offers-faq-list-title expandable-title">
          <a href="#" slide-toggle=".offers-faq-list-answer"><%= t(:offerTwoFaqAddTreeTitle) %></a></h4>
        <p class="offers-faq-list-answer"><%= t(:offerTwoFaqAddTreeText) %></p>
      </article>
    </div>
  </div>
</section>

<section id="offers-two-contact" class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-contact-title"><%= t(:offerTwoContactTitle) %></h2>
    <form id="offer-two-contact-form" name="offer-two-contact-form" class="offers-contact-container" data-loading-message="<%= t(:offerTwoLoadingMessage) %>" data-success-message="<%= t(:offerTwoSuccessMessage) %>">
      <h3 class="interest-title"><%= t(:offerTwoContactSubject) %></h3>
      <div id="message-select-offer" class="is-hidden">
        <p class="contract-hint hint-border"><%= t(:offerTwoSelectOfferMessage) %></p>
      </div>
      <div class="home-contact-interest interest-container">
        <div class="interest-item">
          <input id="interest-custom" value="false" name="dedicated" class="interest-checkbox" type="radio" required>
          <label for="interest-custom">
            <div class="icon icon--ei-close  interest-icon">
              <svg class="icon__cnt">
                <use xlink:href="#ei-close-icon"></use>
              </svg>
            </div>
            <div class="interest-item">
              <p class="contract-hint"><%= t(:offerTwoLabelMemory) %>: <span class="memoryvalue"></span></p>
            </div>
            <div class="interest-item">
              <p class="contract-hint"><%= t(:offerTwoLabelCpu) %>: <span class="cpuvalue"></span></p>
            </div>
            <div class="interest-item interest-item-price">
              <p class="contract-hint"><%= t(:offerTwoLabelPreis) %>:</p>
              <table class="offers-price-table" summary="<%= t(:offerTwoLabelPreis) %>">
                <tbody>
                <tr>
                  <td class="text-right pricevalueperday"></td>
                  <td><%= t(:offerTwoLabelPreisPerDay) %></td>
                </tr>
                <tr>
                  <td class="text-right pricevaluepermonth"></td>
                  <td><%= t(:offerTwoLabelPreisPerMonth) %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </label>
        </div>
        <div class="interest-item">
          <input id="interest-dedicated" value="true" name="dedicated" class="interest-checkbox" type="radio">
          <label for="interest-dedicated">
            <div class="icon icon--ei-close  interest-icon">
              <svg class="icon__cnt">
                <use xlink:href="#ei-close-icon"></use>
              </svg>
            </div>
            Dedicated
          </label>
        </div>
        <div class="interest-item contract-duration">
          <p class="contract-hint"><%= t(:offerTwoBilling) %></p>
        </div>
      </div>
      <div class="home-contact-form">
        <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
        <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
        <input title="<%= t(:homeContactYourFirmTitle) %>" type="text" name="firma" class="contact-input" placeholder="<%= t(:homeContactYourFirm) %>" required>
        <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
        <input title="<%= t(:homeContactYourStreetTitle) %>" type="text" name="adresse" class="contact-input" placeholder="<%= t(:homeContactYourStreet) %>" required>
        <input title="<%= t(:homeContactYourPLZTitle) %>" type="text" name="plz" class="contact-input" placeholder="<%= t(:homeContactYourPLZ) %>" required>
        <input title="<%= t(:homeContactYourORTTitle) %>" type="text" name="ort" class="contact-input" placeholder="<%= t(:homeContactYourORT) %>" required>
        <input type="text" name="phone" placeholder="<%= t(:homeContactYourPhone) %>" class="contact-input" required>
        <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>"></textarea>
      </div>
      <div class="offer-three-terms">
        <div class="interest-light">
          <input type="checkbox" name="terms" id="terms" class="interest-checkbox">
          <label for="terms"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:offerTwoTerms1) %>
            <a href="./pdf/APPUiO-terms-and-conditions-v1.2-<%= I18n.locale %>.pdf" target="_blank"><%= t(:offerTwoTerms2) %></a></label>
        </div>
      </div>
      <label class="appuio-contact-button button-progress">
        <input id="submitButton" type="submit" class="button is-round" value="<%= t(:offerTwoSend) %>" data-required-checkboxes="2" disabled>
      </label>
      <div class="home-feedback-container">
        <p class="home-feedback"></p>
      </div>
    </form>
  </div>
</section>
<%= javascript_include_tag 'price-calculator.min.js' %>
