<section class="offer-three">
  <div class="grid-container">
      <h2 class="offers-title"><%= t(:offerThreeTitle) %></h2>
      <p class="offers-intro"><%= t(:offerThreeIntro) %></p>
      <div class="offers-container">
        <div class="offers-bulletpoints">
          <ul>
            <li><%= t(:offerThreeServices1) %></li>
            <li><%= t(:offerThreeServices2) %></li>
            <li><%= t(:offerThreeServices3) %></li>
            <li><%= t(:offerThreeServices4) %></li>
            <li><%= t(:offerThreeServices5) %></li>
            <li><%= t(:offerThreeServices6) %></li>
            <li><%= t(:offerThreeServices7) %></li>
            <li><%= t(:offerThreeServices8) %></li>
          </ul>
      </div>
    </div>
    <p class="offers-services-desc"><%= t(:offerThreeServicesDesc) %></p>
  </div>
</section>
<section class="offer-contact">
  <div class="grid-container">
    <h2 class="offer-three-contact-title">Kontakt</h2>
    <form id="offer-three-contact-form" class="offers-contact-container">
      <div class="offer-three-contact-form">
        <input title="Vorname" type="text" name="nachname" class="contact-input" placeholder="Vorname" required>
        <input title="Name" type="text" name="vorname" class="contact-input" placeholder="Name" required>
        <input type="email" name="email" class="contact-input" placeholder="Email" required>
        <input type="text" name="phone" placeholder="Telefon" class="contact-input" required>
        <textarea title="Nachricht" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="Nachricht" required></textarea>
      </div>
      <label class="home-contact-button button-progress">
        <input type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
      </label>
    </form>
</section>
