<div class="owl-carousel techlabs-feedback-carousel owl-theme owl-carousel-techlab">
  <div class="item">
    <h4><%= t(:techlabFeedback1) %></h4>
    <h5><%= t(:techlabFeedbackAuthor1) %></h5>
  </div>
  <div class="item">
    <h4><%= t(:techlabFeedback2) %></h4>
    <h5><%= t(:techlabFeedbackAuthor2) %></h5>
  </div>
  <div class="item">
    <h4><%= t(:techlabFeedback3) %></h4>
    <h5><%= t(:techlabFeedbackAuthor3) %></h5>
  </div>
</div>
