---
title: Application Migration and Modernization on APPUiO / OpenShift Techlab
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero title-padding">
    <div class="grid-container">
      <h2><%= t(:ammtechlabPageTitle) %></h2>
      <div class="grid-container">
        <p><%= t(:ammtechlabPageIntro) %></p>
      </div>
    </div>
  </section>

  <section class="section-audience">
    <div class="grid-container">
      <h3><%= t(:ammtechTargetAudienceTitle) %></h3>
      <p><%= t(:ammtechTargetAudienceDesc) %></p>
    </div>
  </section>

  <section class="section-target">
    <div class="grid-container">
      <h3><%= t(:ammtechTargetTitle) %></h3>
      <ul><%= t(:ammtechTargetList) %></ul>
    </div>
  </section>

  <section class="section-content">
    <div class="grid-container">
      <h3><%= t(:ammtechContentTitle) %></h3>
      <p><%= t(:ammtechContentDesc) %></p>

      <h4><%= t(:ammtechPresentationTitle) %></h4>
      <ul><%= t(:ammtechPresentationList) %></ul>

      <h4><%= t(:ammtechLabsTitle) %></h4>
      <ul><%= t(:ammtechLabsList) %></ul>
    </div>
  </section>

  <section class="section-requirements">
    <div class="grid-container">
      <h3><%= t(:ammtechRequirementsTitle) %></h3>
      <p><%= t(:ammtechRequirementsDesc) %></p>
    </div>
  </section>

  <section class="section-language">
    <div class="grid-container">
      <h3><%= t(:ammtechLanguageTitle) %></h3>
      <p><%= t(:ammtechLanguageDesc) %></p>
    </div>
  </section>

  <section class="section-price">
    <div class="grid-container">
      <h3><%= t(:ammtechPriceTitle) %></h3>
      <p><%= t(:ammtechPriceDesc) %></p>

      <div class="boxes">
        <div class="box">
          <h4><%= t(:ammtechDateTitle) %></h4>
          <ul><%= t(:ammtechDateList) %></ul>
        </div>
        <div class="box">
          <h4><%= t(:ammtechTimeTitle) %></h4>
          <p><%= t(:ammtechTimeDesc) %></p>
        </div>
        <div class="box">
          <h4><%= t(:ammtechLocationTitle) %></h4>
          <p><%= t(:ammtechLocationDesc) %></p>
        </div>
      </div>
    </div>
  </section>

</main>
<%= partial "partials/footer" %>
