---
title: APPUiO - Swiss Container Platform - Blog
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="news-section">
    <div class="grid-container">
      <h2>Blog</h2>
      <% blog.local_articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <div class="year"><%= year %></div>
        <div class="dot"></div>
        <div class="year-container">
            <% articles.each do |article| %>
                <div class="news-entry">
                    <div class="date"><div class="month"><%= article.date.strftime('%b') %></div><div class="day"><%= article.date.strftime('%d') %></div></div>
                    <div class="news-text">
                        <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
                        <div class="news-details"><%= article.summary %></div>
                    </div>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
