---
title: APPUiO - Swiss Container Platform - FAQ
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero">
    <div class="grid-container">
      <h2>FAQ's</h2>
          <% data.faq.each do |f| %>
            <h3><%= f["question"] %></h3>
            <p class="faq-iteration"><%= f["answer"] %></p>
          <% end %>
    </div>
  </section>
</main>

<%= partial "partials/footer" %>
