---
title: APPUiO - Impressum & Datenschutz
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero">
    <div class="grid-container">
      <!-- <h1 class="home-hero-title"><%= t(:homeHeroTitle) %></h1> -->
      <h1 class="home-hero-title"><%= t(:impressumTitle) %></h1>
      <p>
        <%= t(:impressumAddress) %>
        <a href="mailto:hello@appuio.ch">hello@appuio.ch</a>
      </p>
      <h1 class="home-hero-title"><%= t(:dataPrivacyTitle) %></h1>
      <p><%= t(:dataPrivacyText) %></p>
    </div>
  </section>

</main>

<%= partial "partials/footer" %>
