---
title: APPUiO - Swiss Container Platform
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container is-relative">
    <%= partial "partials/nav" %>
  </div>
</header>
<%= partial "partials/beerbutton" %>
<main class="main-container" role="main">
  <section id="overview" class="home-hero">
    <div class="home-hero-illus">
      <%= partial "partials/svgs/landscape_compact" %>
      <!-- <div class="home-hero-title-wrapper"><h1 class="home-hero-title"><%= t(:homeHeroTitle) %></h1></div> -->
      <%= image_tag "appuio_logo.svg", :alt => t(:homeHeroAlt), :class => 'home-hero-logo' %>
    </div>
    <div class="grid-container">
      <h1 class="home-hero-title"><%= t(:homeHeroTitle) %></h1>
      <p class="home-hero-cta"><a href="./public.html" class="button is-round is-big"><%= t(:homeHeroSignup) %></a><a href="https://register.appuio.ch" class="button is-round is-big"><%= t(:homeHeroRegister) %></a></p>
      <p class="home-hero-desc"><%= t(:homeHeroDesc) %></p>
    </div>
  </section>

  <section id="offer" class="home-offer">
    <div class="grid-container">
      <h2 class="home-offer-title"><%= t(:homeOfferTitle) %></h2>

      <ul class="home-offer-list callout-list">
        <li class="callout-item offer2-image">
          <div class="callout-ribbon offer2-bg"></div>
          <h3 class="callout-title">
            <a href="./public.html">
              <%= t(:homeOfferTwoTitle) %>
            </a>
          </h3>
          <p class="callout-desc"><%= t(:homeOfferTwoDesc) %></p>
          <a href="javascript:void(0)" class="toggle-offer-feature">
            <%= t('homeOfferDetails')%>
          </a>
          <ul class="offer-feature-list">
            <%= t(:homeOfferTwoList) %>
            <li>
              <a href="./public.html" class="callout-button button is-round"><%= t(:homeOfferTwoButton) %></a>
            </li>
          </ul>
        </li>
        <li class="callout-item offer1-image">
          <div class="callout-ribbon offer1-bg"></div>
          <h3 class="callout-title">
            <a href="./managed-private.html">
              <%= t(:homeOfferOneTitle) %>
            </a>
          </h3>
          <p class="callout-desc"><%= t(:homeOfferOneDesc) %></p>
          <a href="javascript:void(0)" class="toggle-offer-feature">
            <%= t('homeOfferDetails')%>
          </a>
          <ul class="offer-feature-list">
            <%= t(:homeOfferOneList) %>
            <li>
              <a href="./managed-private.html" class="callout-button button is-round"><%= t(:homeOfferOneButton) %></a>
            </li>
          </ul>
        </li>
        <li class="callout-item offer3-image">
          <div class="callout-ribbon offer3-bg"></div>
          <h3 class="callout-title">
            <a href="./unmanaged.html">
              <%= t(:homeOfferThreeTitle) %>
            </a>
          </h3>
          <p class="callout-desc"><%= t(:homeOfferThreeDesc) %></p>
          <a href="javascript:void(0)" class="toggle-offer-feature">
            <%= t('homeOfferDetails')%>
          </a>
          <ul class="offer-feature-list">
            <%= t(:homeOfferThreeList) %>
            <li>
              <a href="./unmanaged.html" class="callout-button button is-round"><%= t(:homeOfferThreeButton) %></a>
            </li>
          </ul>
        </li>
      </ul>

      <p class="home-offer-desc"><%= t(:homeOfferDesc) %></p>
    </div>
  </section>

  <section id="home-advantages" class="advantages">
    <div class="grid-container">
      <h2 class="advantages-title"><%= t(:homeAdvantagesTitle) %></h2>
      <ul class="advantages-list callout-list">
        <li class="callout-item callout-item-block advantage1-image">
          <img src="/images/advantage1.svg" alt="advantage1-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesOneTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesOneDesc) %></p>
        </li>
        <li class="callout-item callout-item-block advantage2-image">
          <img src="/images/advantage2.svg" alt="advantage2-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesTwoDesc) %></p>
        </li>
        <li class="callout-item callout-item-block advantage3-image">
          <img src="/images/advantage3.svg" alt="advantage3-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesThreeTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesThreeDesc) %></p>
        </li>
      </ul>
      <ul class="advantages-list callout-list">
        <li class="callout-item callout-item-block advantage4-image">
          <img src="/images/advantage4.svg" alt="advantage4-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesFourTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesFourDesc) %></p>
        </li>
        <li class="callout-item callout-item-block advantage5-image">
          <img src="/images/advantage5.svg" alt="advantage5-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesFiveTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesFiveDesc) %></p>
        </li>
        <li class="callout-item callout-item-block advantage6-image">
          <img src="/images/advantage6.svg" alt="advantage6-image" />
          <h3 class="callout-title"><%= t(:homeAdvantagesSixTitle) %></h3>
          <p class="callout-desc"><%= t(:homeAdvantagesSixDesc) %></p>
        </li>
      </ul>
    </div>
  </section>

  <section id="features" class="home-features">
    <div class="grid-container">
      <h2 class="home-features-title"><%= t(:homeFeatureTitle) %></h2>
      <p class="home-features-desc"><%= t(:homeFeatureDesc) %></p>
      <div class="feature-container">
        <article class="feature-item">
            <%= image_tag "feature_beratung.svg", :alt => t(:homeFeatureConsultingAlt), :class => 'feature-img' %>
            <h3 class="feature-title"><%= t(:homeFeatureConsultingTitle) %></h3>
            <p class="feature-desc"><%= t(:homeFeatureConsultingDesc) %></p>
        </article>
        <article class="feature-item">
          <%= image_tag "feature_community.svg", :alt =>  t(:homeFeatureCommunityAlt), :class => 'feature-img' %>
          <h3 class="feature-title"><%= t(:homeFeatureCommunityTitle) %></h3>
            <p class="feature-desc"><%= t(:homeFeatureCommunityDesc) %></p>
        </article>
        <article class="feature-item">
          <%= image_tag "feature_addons.svg", :alt => t(:homeFeatureAddonsAlt), :class => 'feature-img' %>
          <h3 class="feature-title"><%= t(:homeFeatureAddonsTitle) %></h3>
          <p class="feature-desc"><%= t(:homeFeatureAddonsDesc) %></p>
        </article>
      </div>
    </div>
  </section>

  <section id="clients" class="home-clients">
    <div class="grid-container">
      <h2 class="home-clients-title"><%= t(:homeClientsTitle) %></h2>
      <ul class="home-clients-list callout-list">
        <li class="callout-item client1-image">
          <img src="/images/MatthiasSummer.png" alt="client1-image" />
          <h3 class="callout-title"><%= t(:homeClientsOneTitle) %></h3>
          <p class="callout-desc"><%= t(:homeClientsOneDesc) %></p>
          <a href="blog.html#2018-Apr-6" class="callout-button button is-round"><%= t(:homeClientsOneButton) %></a>
        </li>
        <li class="callout-item client2-image">
          <img src="/images/amazeeio.png" alt="client2-image" />
          <h3 class="callout-title"><%= t(:homeClientsTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:homeClientsTwoDesc) %></p>
          <a href="blog.html#2018-Mai-1" class="callout-button button is-round"><%= t(:homeClientsTwoButton) %></a>
        </li>
        <li class="callout-item client3-image">
          <img src="/images/MichaelGerber.png" alt="client3-image" />
          <h3 class="callout-title"><%= t(:homeClientsThreeTitle) %></h3>
          <p class="callout-desc"><%= t(:homeClientsThreeDesc) %></p>
          <a href="#" class="callout-button button is-round"><%= t(:homeClientsThreeButton) %></a>
        </li>
      </ul>
    </div>
    <div class="clientlogo-container grid-container">
        <div class="clientlogo-group">
          <div class="clientlogo-item"><img src="/images/Customers/Adcubum.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/amazeeio.png" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/DiePost.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/HITOBITO.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/HRM.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/toccov2.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/PEAX.svg" alt="clientlogo"/></div>
          <div class="clientlogo-item"><img src="/images/Customers/Mobiliar.svg" alt="clientlogo"/></div>
        </div>
    </div>
  </section>

  <section id="distributions" class="home-distributions">
    <div class="grid-container">
      <h2 class="home-distribution-title"><%= t(:homeDistributionsTitle) %></h2>
      <article class="is-banner-before">
        <p><%= t(:homeDistributionsDescriptionOne) %></p>
      </article>
      <ul class="callout-list distribution-base-list">
        <li class="callout-item callout-item-block">
          <div class="distribution-base-image"><img src="/images/openshift_schild.svg" alt="distribution1-image"/></div>
          <h3 class="callout-title"><%= t(:homeDistributionsOneTitle) %></h3>
          <p class="callout-desc"><%= t(:homeDistributionsOneDesc) %></p>
        </li>
        <li class="callout-item callout-item-block">
          <div class="distribution-base-image"><img src="/images/rancher_schild.svg" alt="distribution2-image"/></div>
          <h3 class="callout-title"><%= t(:homeDistributionsTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:homeDistributionsTwoDesc) %></p>
        </li>
      </ul>
    </div>
  </section>

  <section id="technologies" class="home-technologies">
    <div class="grid-container">
      <h2 class="home-technology-title"><%= t(:homeTechnologiesTitle) %></h2>
      <article class="is-banner-before">
        <p><%= t(:homeTechnologiesDescriptionOne) %></p>
      </article>
      <ul class="callout-list technology-base-list">
        <li class="callout-item callout-item-block">
          <div class="technology-base-image">
            <img src="/images/kubernetes_logo.svg" class="kubernetes-logo" alt="technology1-image"/></div>
          <h3 class="callout-title"><%= t(:homeTechnologiesOneTitle) %></h3>
          <p class="callout-desc"><%= t(:homeTechnologiesOneDesc) %></p>
        </li>
        <li class="callout-item callout-item-block">
          <div class="technology-base-image"><img src="/images/docker_logo.svg" alt="technology2-image"/></div>
          <h3 class="callout-title"><%= t(:homeTechnologiesTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:homeTechnologiesTwoDesc) %></p>
        </li>
      </ul>
      <div class="technology-container">
        <div class="technology-group">
          <article class="technology-item">
            <span class="font-icon icon-java"></span>
            <p class="technology-desc">Java</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-java"></span>
            <p class="technology-desc">Spring</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-wildfly"></span>
            <p class="technology-desc">Wildfly</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-ruby"></span>
            <p class="technology-desc">Ruby</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-rails"></span>
            <p class="technology-desc">Ruby on Rails</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-php"></span>
            <p class="technology-desc">PHP</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-perl"></span>
            <p class="technology-desc">Perl</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-python"></span>
            <p class="technology-desc">Python</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-nodejs"></span>
            <p class="technology-desc">Node.js</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-jboss"></span>
            <p class="technology-desc">JBoss EAP</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-jboss"></span>
            <p class="technology-desc">JBoss Fuse Integration Services</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-jboss"></span>
            <p class="technology-desc">JBoss A-MQ</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-jboss"></span>
            <p class="technology-desc">JBoss Data Grid</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-dotnet"></span>
            <p class="technology-desc">ASP.NET (Techpreview)</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-postgresql"></span>
            <p class="technology-desc">PostgreSQL</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-mysql-database"></span>
            <p class="technology-desc">MySQL</p>
          </article>
          <article class="technology-item">
            <span class="font-icon icon-mongodb"></span>
            <p class="technology-desc">MongoDB</p>
          </article>
        </div>
      </div>
      <article>
        <p>
          <a class="text-white" href="https://www.openshift.com/products/features/technologies/"><%= t(:homeTechnologiesDetails) %></a>
        </p>
      </article>
    </div>
  </section>

  <section id="contact" class="home-contact">
    <div class="grid-container">
      <h2 class="home-contact-title"><%= t(:homeContactTitle) %></h2>
      <p class="home-contact-desc"><%= t(:homeContactDesc) %></p>
      <form id="contact-form" name="contact-form" class="home-contact-container" data-loading-message="<%= t(:homeContactLoadingMessage) %>" data-success-message="<%= t(:homeContactSuccessMessage) %>">
        <h3 class="interest-title"><%= t(:homeContactSubject) %></h3>
        <div class="home-contact-interest interest-container">
          <div class="interest-item">
            <input id="interest-newsletter" value="<%= t(:homeContactSubjectFive) %>" type="checkbox" name="interests[]" class="interest-checkbox" >
            <label for="interest-newsletter"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFive) %></label>
          </div>
          <div class="interest-item">
            <input id="interest-info" value="<%= t(:homeContactSubjectFour) %>" type="checkbox" name="interests[]" class="interest-checkbox">
            <label for="interest-info"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFour) %></label>
          </div>
          <div class="interest-item">
            <input id="interest-trial" value="<%= t(:homeContactSubjectSix) %>" type="checkbox" name="interests[]" class="interest-checkbox">
            <label for="interest-trial"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectSix) %></label>
          </div>
        </div>
        <div class="home-contact-form">
          <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
          <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
          <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
          <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
        </div>
        <label class="appuio-contact-button button-progress">
          <input id="submitButton" type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
        </label>
        <div class="home-feedback-container">
          <p class="home-feedback"></p>
        </div>
      </form>
    </div>
  </section>
</main>

<%= partial "partials/footer" %>
