---
title: APPUiO - Swiss Container Platform
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container is-relative">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero">
    <div class="home-news news-banner">
      <div class="grid-container">
        <p><strong><%= t(:homeNewsTitle) %></strong> &nbsp; <%= t(:homeNewsText) %></p>
      </div>
    </div>
    <div class="home-hero-illus">
      <%= image_tag "appuio_logo.svg", :alt => t(:homeHeroAlt), :class => 'home-hero-logo' %>
    </div>
    <div id="overview" class="grid-container">
      <h1 class="home-hero-title"><%= t(:homeHeroTitle) %></h1>
      <p class="home-hero-cta"><a href="./public.html" class="button is-round is-big"><%= t(:homeHeroSignup) %></a></p>
      <p class="home-hero-desc"><%= t(:homeHeroDesc) %></p>
      <a href="https://www.openshift.com/" target="_blank" class="home-hero-tech badge">
        <%= image_tag "openshift_logo.svg", :alt => 'Openshift', :class => 'home-hero-logo' %>
      </a>
    </div>
  </section>

  <section id="offer" class="home-offer">
    <div class="grid-container">
      <h2 class="home-offer-title"><%= t(:homeOfferTitle) %></h2>
      <ul class="home-offer-list callout-list">
        <li class="callout-item offer1-image">
          <div class="callout-ribbon offer1-bg"></div>
          <h3 class="callout-title"><%= t(:homeOfferOneTitle) %></h3>
          <p class="callout-desc"><%= t(:homeOfferOneDesc) %></p>
          <a href="./managed-private.html" class="callout-button button is-round"><%= t(:homeOfferOneButton) %></a>
        </li>
        <li class="callout-item offer2-image">
          <div class="callout-ribbon offer2-bg"><%= t(:homeOfferTwoRibbon) %></div>
          <h3 class="callout-title"><%= t(:homeOfferTwoTitle) %></h3>
          <p class="callout-desc"><%= t(:homeOfferTwoDesc) %></p>
          <a href="./public.html" class="callout-button button is-round"><%= t(:homeOfferTwoButton) %></a>
        </li>
        <li class="callout-item offer3-image">
          <div class="callout-ribbon offer3-bg"></div>
          <h3 class="callout-title"><%= t(:homeOfferThreeTitle) %></h3>
          <p class="callout-desc"><%= t(:homeOfferThreeDesc) %></p>
          <a href="./on-premises.html" class="callout-button button is-round"><%= t(:homeOfferThreeButton) %></a>
        </li>
      </ul>
      <p class="home-offer-desc"><%= t(:homeOfferDesc) %></p>
    </div>
  </section>

  <section id="features" class="home-features">
    <div class="grid-container">
      <h2 class="home-features-title"><%= t(:homeFeatureTitle) %></h2>
      <p class="home-features-desc"><%= t(:homeFeatureDesc) %></p>
      <div class="feature-container">
          <article class="feature-item">
              <%= image_tag "feature_process.svg", :alt => t(:homeFeatureCycleAlt), :class => 'feature-img' %>
              <h3 class="feature-title"><%= t(:homeFeatureCycleTitle) %></h3>
              <p class="feature-desc"><%= t(:homeFeatureCycleDesc) %></p>
          </article>
        <article class="feature-item is-small">
          <a href="https://www.docker.com/" target="_blank" class="feature-image badge is-docker"><%= image_tag "docker_logo.svg", :alt => 'Docker' %></a>
          <h3 class="feature-title"><%= t(:homeFeatureDockerTitle) %></h3>
          <p class="feature-desc"><%= t(:homeFeatureDockerDesc) %></p>
        </article>
        <article class="feature-item is-small">
          <a href="http://kubernetes.io/" class="feature-image badge is-kuber"><%= image_tag "kubernetes_logo.svg", :alt => 'Kubernetes' %></a>
          <h3 class="feature-title"><%= t(:homeFeatureKubernetesTitle) %></h3>
          <p class="feature-desc"><%= t(:homeFeatureKubernetesDesc) %></p>
        </article>
        <article class="feature-item">
          <%= image_tag "feature_ondemand.svg", :alt =>  t(:homeFeatureOnDemandAlt), :class => 'feature-img' %>
          <h3 class="feature-title"><%= t(:homeFeatureOnDemandTitle) %></h3>
            <p class="feature-desc"><%= t(:homeFeatureOnDemandDesc) %></p>
        </article>
        <div class="technology-container">
            <div class="technology-group has-three-col">
              <h3 class="technology-title"><%= t(:homeFeatureLanguagesTitle) %></h3>
              <article class="technology-item is-turkislight">
                  <p class="technology-desc">Java</p>
              </article>
              <article class="technology-item is-turkislight">
                  <p class="technology-desc">Spring</p>
              </article>
              <article class="technology-item is-turkislight">
                  <p class="technology-desc">Wildfly</p>
              </article>
              <article class="technology-item is-turkis">
                  <p class="technology-desc">Ruby<br>2.0</p>
              </article>
              <article class="technology-item is-turkis">
                  <p class="technology-desc">Ruby<br>2.2</p>
              </article>
              <article class="technology-item is-turkis">
                  <p class="technology-desc">Ruby on Rails<br>4</p>
              </article>
              <article class="technology-item is-yellow">
                  <p class="technology-desc">PHP<br>5.5</p>
              </article>
              <article class="technology-item is-yellow">
                  <p class="technology-desc">PHP<br>5.6</p>
              </article>
              <article class="technology-item">
                  <p class="technology-desc">Perl</p>
              </article>
              <article class="technology-item">
                  <p class="technology-desc">Python</p>
              </article>
              <article class="technology-item">
                  <p class="technology-desc">Node.js</p>
              </article>
              <article class="technology-item is-orange">
                  <p class="technology-desc">JBoss EAP</p>
              </article>
              <article class="technology-item is-orange">
                  <p class="technology-desc">JBoss Fuse Integration Services</p>
              </article>
              <article class="technology-item is-orange">
                  <p class="technology-desc">JBoss A-MQ</p>
              </article>
              <article class="technology-item is-orange">
                  <p class="technology-desc">JBoss Data Grid</p>
              </article>
              <article class="technology-item">
                  <p class="technology-desc">ASP.NET (Techpreview)</p>
              </article>
            </div>
            <div class="technology-group has-two-col">
              <h3 class="technology-title"><%= t(:homeFeatureDatabasesTitle) %></h3>
              <article class="technology-item is-turkislight">
                  <p class="technology-desc">PostgreSQL<br>9.2</p>
              </article>
              <article class="technology-item is-turkislight">
                  <p class="technology-desc">PostgreSQL<br>9.4</p>
              </article>
              <article class="technology-item is-turkis">
                  <p class="technology-desc">MySQL<br>5.5</p>
              </article>
              <article class="technology-item is-turkis">
                  <p class="technology-desc">MySQL<br>5.6</p>
              </article>
              <article class="technology-item is-yellow">
                  <p class="technology-desc">MongoDB<br>2.4</p>
              </article>
              <article class="technology-item is-yellow">
                <p class="technology-desc">MongoDB<br>2.6</p>
              </article>
              <artticle class="technology-item is-empty"></artticle>
              <artticle class="technology-item is-empty"></artticle>
            </div>
        </div>
        <article class="feature-item">
            <h3 class="feature-title"><%= t(:homeFeatureOpenSourceTitle) %></h3>
            <p class="feature-desc"><%= t(:homeFeatureOpenSourceDesc) %></p>
        </article>
        <article class="feature-item">
          <%= image_tag "feature_secure.svg", :alt => t(:homeFeatureSecureAlt), :class => 'feature-img' %>
          <h3 class="feature-title"><%= t(:homeFeatureSecureTitle) %></h3>
          <p class="feature-desc"><%= t(:homeFeatureSecureDesc) %></p>
        </article>
        <article class="feature-item">
          <%= image_tag "feature_letsencrypt.svg", :alt => t(:homeFeatureEncryptAlt), :class => 'feature-img' %>
          <h3 class="feature-title"><%= t(:homeFeatureEncryptTitle) %></h3>
          <p class="feature-desc"><%= t(:homeFeatureEncryptDesc) %></p>
        </article>
      </div>
    </div>
  </section>
  
  <section id="contact" class="home-contact">
    <div class="grid-container">
      <h2 class="home-contact-title"><%= t(:homeContactTitle) %></h2>
      <p class="home-contact-desc"><%= t(:homeContactDesc) %></p>
      <form id="contact-form" name="contact-form" class="home-contact-container" data-loading-message="<%= t(:homeContactLoadingMessage) %>" data-success-message="<%= t(:homeContactSuccessMessage) %>">
        <div class="home-contact-interest interest-container">
          <h3 class="interest-title"><%= t(:homeContactSubject) %></h3>
          <div class="interest-item">
            <input id="interest-newsletter" value="<%= t(:homeContactSubjectFive) %>" type="checkbox" name="interests[]" class="interest-checkbox" >
            <label for="interest-newsletter"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFive) %></label>
          </div>
          <div class="interest-item">
            <input id="interest-info" value="<%= t(:homeContactSubjectFour) %>" type="checkbox" name="interests[]" class="interest-checkbox" checked>
            <label for="interest-info"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectFour) %></label>
          </div>
          <div class="interest-item">
            <input id="interest-info" value="<%= t(:homeContactSubjectSix) %>" type="checkbox" name="interests[]" class="interest-checkbox" checked>
            <label for="interest-info"><%= evil_icon 'ei-close', class: "interest-icon" %> <%= t(:homeContactSubjectSix) %></label>
          </div>
        </div>
        <div class="home-contact-form">
          <input title="<%= t(:homeContactYourFirstNameTitle) %>" type="text" name="vorname" class="contact-input" placeholder="<%= t(:homeContactYourFirstName) %>" required>
          <input title="<%= t(:homeContactYourNameTitle) %>" type="text" name="nachname" class="contact-input" placeholder="<%= t(:homeContactYourName) %>" required>
          <input type="email" name="email" class="contact-input" placeholder="<%= t(:homeContactYourEmail) %>" required>
          <textarea title="<%= t(:homeContactYourMessageTitle) %>" id="message" name="message" cols="30" rows="6" class="contact-textarea" placeholder="<%= t(:homeContactYourMessage) %>" required></textarea>
        </div>
        <label class="appuio-contact-button button-progress">
          <input type="submit" class="button is-round" value="<%= t(:homeContactSend) %>">
        </label>
        <div class="home-feedback-container">
          <p class="home-feedback"></p>
        </div>
      </form>
    </div>
  </section>
</main>

<%= partial "partials/footer" %>
