---
title: APPUiO - Swiss Container Platform - News
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero">
    <div class="grid-container">
      <h2>News</h2>
          <% data.news.each do |f| %>
            <h3><%= f["title"] %></h3>
            <p><%= f["subtitle"] %></p>
            <p><%= f["details"] %></p>
          <% end %>
    </div>
  </section>
</main>

<%= partial "partials/footer" %>
