---
title: APPUiO - Swiss Container Platform - News
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="news-section">
    <div class="grid-container">
      <h2>News</h2>
        <div class="year">2017</div>
        <div class="dot"></div>
        <div class="year-container">
            <% data["#{I18n.locale}"].news17.each do |f| %>
                <a name="<%= f["title"] %>"></a>
                <div class="news-entry">

                    <div class="date"><div class="month"><%= f["month"] %></div><div class="day"><%= f["day"] %></div></div>
                    <div class="news-text">
                        <h3><%= f["title"] %></h3>
                        <p class="news-subtitle"><%= f["subtitle"] %></p>
                        <%= f["details"] %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="year">2016</div>
        <div class="dot"></div>
        <div class="year-container">
            <% data["#{I18n.locale}"].news16.each do |f| %>

            <div class="news-entry">
              <div class="date"><a name="<%= f["title"] %>"></a><div class="month"><%= f["month"] %></div><div class="day"><%= f["day"] %></div></div>
              <div class="news-text">
                <h3><%= f["title"] %></h3>
                <p class="news-subtitle"><%= f["subtitle"] %></p>
                <%= f["details"] %>
              </div>
            </div>
            <% end %>
          </div>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
