---
title: APPUiO - Offers
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <%= partial "partials/offers" %>
  <!-- Mal ohne partials umsetzen -->
  <!-- <div class="grid-container">
    <div id="fullpage">
      <div class="section" id="section1">
        <div class="slide" id="ManagedPrivatePaas" data-anchor="ManagedPrivatePaas">
          <div class="intro">
            <h1><%= :offerOneTitle%></h1>
            <p><%= :offerOneDesc%></p>
          </div>
        </div>
        <div class="slide" id="PublicPaas" data-anchor="PublicPaas">
          <h1><%= :offerTwoTitle%></h1>
          <p><%= :offerTwoDesc%></p>
        </div>
        <div class="slide" id="OnpremisePaas" data-anchor="OnpremisePaas">
          <h1><%= :offerThreeTitle%></h1>
          <p><%= :offerThreeDesc%></p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <%= partial "partials/formPublicPaas" %> -->
</main>

<!-- <%= partial "partials/footer" %> -->
