---
title: Application Migration and Modernization on APPUiO / OpenShift Techlab
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero title-padding">
    <div class="grid-container">
      <h2><%= t(:ostechlabPageTitle) %></h2>
      <div class="grid-container">
        <p><%= t(:ostechlabPageIntro) %></p>
      </div>
    </div>
  </section>

  <section class="section-audience">
    <div class="grid-container">
      <h3><%= t(:ostechTargetAudienceTitle) %></h3>
      <p><%= t(:ostechTargetAudienceDesc) %></p>
    </div>
  </section>

  <section class="section-target">
    <div class="grid-container">
      <h3><%= t(:ostechTargetTitle) %></h3>
      <ul><%= t(:ostechTargetList) %></ul>
    </div>
  </section>

  <section class="section-content">
    <div class="grid-container">
      <h3><%= t(:ostechContentTitle) %></h3>
      <p><%= t(:ostechContentDesc) %></p>

      <h4><%= t(:ostechPresentationTitle) %></h4>
      <ul><%= t(:ostechPresentationList) %></ul>

      <h4><%= t(:ostechLabsTitle) %></h4>
      <ul><%= t(:ostechLabsList) %></ul>
    </div>
  </section>

  <section class="section-requirements">
    <div class="grid-container">
      <h3><%= t(:ostechRequirementsTitle) %></h3>
      <p><%= t(:ostechRequirementsDesc) %></p>
    </div>
  </section>

  <section class="section-language">
    <div class="grid-container">
      <h3><%= t(:ostechLanguageTitle) %></h3>
      <p><%= t(:ostechLanguageDesc) %></p>
    </div>
  </section>

  <section class="section-price">
    <div class="grid-container">
      <h3><%= t(:ostechPriceTitle) %></h3>
      <p><%= t(:ostechPriceDesc) %></p>

      <div class="boxes">
        <div class="box">
          <h4><%= t(:ostechDateTitle) %></h4>
          <ul><%= t(:ostechDateList) %></ul>
        </div>
        <div class="box">
          <h4><%= t(:ostechTimeTitle) %></h4>
          <p><%= t(:ostechTimeDesc) %></p>
        </div>
        <div class="box">
          <h4><%= t(:ostechLocationTitle) %></h4>
          <p><%= t(:ostechLocationDesc) %></p>
        </div>
      </div>
    </div>
  </section>

</main>
<%= partial "partials/footer" %>
