---
title: APPUiO - Swiss Container Platform - Techlab
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="news-section">
    <div class="grid-container">
      <h2><%= t(:teamPageTitle) %></h2>
      <h3><%= t(:teamTitle) %></h3>
      <h4><%= t(:teamSubtitle) %></h4>

      <div class="grid-container team-container">
        <ul class="faces-list callout-list">
          <li class="callout-item callout-item-team-member">
            <img src="/images/MatthiasSummer.png" alt="member1-image"/>
            <p class="callout-desc"><%= t(:teamMemberOneDesc) %></p>
          </li>
          <li class="callout-item callout-item-team-member">
            <img src="/images/amazeeio.png" alt="member2-image"/>
            <p class="callout-desc"><%= t(:teamMemberTwoDesc) %></p>
          </li>
          <li class="callout-item callout-item-team-member">
            <img src="/images/MichaelGerber.png" alt="member3-image"/>
            <p class="callout-desc"><%= t(:teamMemberThreeDesc) %></p>
          </li>
        </ul>
        <ul class="faces-list callout-list">
          <li class="callout-item callout-item-team-member">
            <img src="/images/MatthiasSummer.png" alt="member1-image"/>
            <p class="callout-desc"><%= t(:teamMemberOneDesc) %></p>
          </li>
          <li class="callout-item callout-item-team-member">
            <img src="/images/amazeeio.png" alt="member2-image"/>
            <p class="callout-desc"><%= t(:teamMemberTwoDesc) %></p>
          </li>
          <li class="callout-item callout-item-team-member">
            <img src="/images/MichaelGerber.png" alt="member3-image"/>
            <p class="callout-desc"><%= t(:teamMemberThreeDesc) %></p>
          </li>
        </ul>

      </div>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
