---
title: APPUiO - Swiss Container Platform - Techlab
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero title-padding">
    <h2><%= t(:techlabPageTitle) %></h2>
  </section>

  <section class="news-section text-center home-hero">
    <div class="grid-container">
      <img alt="previous_techlab" src="/images/twitter_techlab.jpg">
      <div class="item">
        <h4><%= t(:techlabFeedback1) %></h4>
        <h5><%= t(:techlabFeedbackAuthor1) %></h5>
      </div>
      <%#= partial "partials/techlab-comments" %>
    </div>
  </section>

  <section class="news-section">
    <div class="grid-container">
      <h3><%= t(:techlabTitle) %></h3>
      <h4><%= t(:techlabSubtitle) %></h4>
      <%= t(:techlabDetails) %>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
