---
title: APPUiO - Swiss Container Platform - Techlab
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="news-section">
    <div class="grid-container">
      <h2><%= t(:techlabPageTitle) %></h2>
      <h3><%= t(:techlabTitle) %></h3>
      <h4><%= t(:techlabSubtitle) %></h4>
      <%= t(:techlabDetails) %>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
