<div class="owl-carousel managed-iaas-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4><%= t(:aboutGoldName1) %></h4>
        <p><%= t(:aboutGoldDescription1)%></p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Abacus.svg">
    </a>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutGoldName2) %></h4>
          <p><%= t(:aboutGoldDescription2)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/Adcubum.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutGoldName3) %></h4>
          <p><%= t(:aboutGoldDescription3)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/DiePost.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutGoldName4) %></h4>
          <p><%= t(:aboutGoldDescription4)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/amazeeio.png">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutGoldName5) %></h4>
          <p><%= t(:aboutGoldDescription5)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/PEAX.svg">
      </a>
    </div>
  </div>
</div>
