<div class="owl-carousel managed-iaas-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4><%= t(:aboutDevName1) %></h4>
        <p><%= t(:aboutDevDescription1)%></p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Abacus.svg">
    </a>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutDevName2) %></h4>
          <p><%= t(:aboutDevDescription2)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/Adcubum.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutDevName3) %></h4>
          <p><%= t(:aboutDevDescription3)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/DiePost.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutDevName4) %></h4>
          <p><%= t(:aboutDevDescription4)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/amazeeio.png">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:aboutDevName5) %></h4>
          <p><%= t(:aboutDevDescription5)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/PEAX.svg">
      </a>
    </div>
  </div>
</div>
