<div class="owl-carousel managed-iaas-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4><%= t(:offerTwoCustomerName1) %></h4>
        <p><%= t(:offerTwoCustomerDescription1)%></p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Abacus.svg">
    </a>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoCustomerName2) %></h4>
          <p><%= t(:offerTwoCustomerDescription2)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/Adcubum.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoCustomerName3) %></h4>
          <p><%= t(:offerTwoCustomerDescription3)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/DiePost.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoCustomerName4) %></h4>
          <p><%= t(:offerTwoCustomerDescription4)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/amazeeio.png">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoCustomerName5) %></h4>
          <p><%= t(:offerTwoCustomerDescription5)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/PEAX.svg">
      </a>
    </div>
  </div>
</div>
