<div class="owl-carousel managed-iaas-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4><%= t(:offerTwoIaasName1) %></h4>
        <p><%= t(:offerTwoIaasDescription1)%></p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Abacus.svg">
    </a>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoIaasName2) %></h4>
          <p><%= t(:offerTwoIaasDescription2)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/Adcubum.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoIaasName3) %></h4>
          <p><%= t(:offerTwoIaasDescription3)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/DiePost.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoIaasName4) %></h4>
          <p><%= t(:offerTwoIaasDescription4)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/amazeeio.png">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerTwoIaasName5) %></h4>
          <p><%= t(:offerTwoIaasDescription5)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/PEAX.svg">
      </a>
    </div>
  </div>
</div>
