<div class="owl-carousel managed-iaas-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4><%= t(:offerThreeIaasName1) %></h4>
        <p><%= t(:offerThreeIaasDescription1)%></p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Abacus.svg">
    </a>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerThreeIaasName2) %></h4>
          <p><%= t(:offerThreeIaasDescription2)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/Adcubum.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerThreeIaasName3) %></h4>
          <p><%= t(:offerThreeIaasDescription3)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/DiePost.svg">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerThreeIaasName4) %></h4>
          <p><%= t(:offerThreeIaasDescription4)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/amazeeio.png">
      </a>
    </div>
  </div>
  <div class="item">
    <div>
      <a class="hoverfx">
        <div class="figure">
          <h4><%= t(:offerThreeIaasName5) %></h4>
          <p><%= t(:offerThreeIaasDescription5)%></p>
        </div>
        <div class="overlay">
        </div>
        <img src="../../images/Customers/PEAX.svg">
      </a>
    </div>
  </div>
</div>
