---
title: APPUiO - Swiss Container Platform - Blog
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="news-section">
    <div class="grid-container">
      <h2>Blog</h2>
      <div class="posts-container">
            <% blog.articles.each do |article| %>
        <article>
          <h1>
            <a href="<%= article.url %>"><%= article.title %></a>
            <time><%= article.date.strftime('%b %e %Y') %></time>
          </h1>
asdfasdf
          <%= article.summary %>

          <a href="<%= article.url %>">Read more</a>
        </article>
      <% end %>
    </div>
    </div>
  </section>
</main>
<%= partial "partials/footer" %>
